In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from tqdm import tqdm
tqdm.pandas()
from dateutil.relativedelta import relativedelta
pd.set_option("display.max_columns", None)

# Date format = "%Y-%m-%d" @ datetime type

## BALANCE CALCULATIONS

### 1 READING DATA AND CLARIFYING DATA TYPES 1

In [2]:
mainDirect = pd.read_csv("Main_Director_excl Cess v190225.csv", index_col = 0)    # Manager level data from 2006 to 2024

C:\Users\SHIVAM\AppData\Local\Temp\ipykernel_1672\4052097140.py:1: DtypeWarning: Columns (15,16,17,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,46) have mixed types. Specify dtype option on import or set low_memory=False.
  mainDirect = pd.read_csv("Main_Director_excl Cess v190225.csv", index_col = 0)    # Manager level data from 2006 to 2024

In [3]:
# mainDirect = mainDirect0.loc[ pd.isnull(mainDirect0["Cessation Date"]) == True].copy().reset_index(drop = True)
mainDirect

,Symbol,Company,AsOnDate,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Brief Profile,Tenure Valid till
0,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,14-MAY-1960,M,INDIA,24-JUL-2002,NONE,NaN,NaN,NaN,GRADUATE: B.COM.,"POST GRADUATE: M.B.A.-FINANCE,BANGALORE UNIVER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,FINANCE,LEADERSHIP/MAN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR. B.V. SHANKARANARAYANA RAO, 57, HOLDS A BAC...",NaN
1,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,15-DEC-1939,M,INDIA,26-DEC-2001,NONE,NaN,NaN,NaN,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR. D.J. BALAJI RAO, 73, HOLDS A B.E DEGREE IN...",NaN
2,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00033331,MR.,BALASUBRAMANIAM,SOMASKANDAN,IYER,13-OCT-1949,M,INDIA,26-DEC-2001,NONE,NaN,NaN,NaN,GRADUATE: DIPLOMA-MANAGERIAL ACCOUNTING,"POST GRADUATE: FELLOW-MEMBER,INSTITUTE OF COMP...","POST GRADUATE: M.COM.,UNIVERSITY OF MUMBAI,MUMBAI","POST GRADUATE: M.L.,UNIVERSITY OF MUMBAI,MUMBAI","POST GRADUATE: MEMBER,ALL INDIA MANAGEMENT ASS...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR. B.S. IYER, 62, IS A POST GRADUATE IN COMME...",NaN
3,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,P00022755,LATE MR.,SHAHRUKH,MINOCHER,CONTRACTOR,19-MAR-1931,M,NaN,31-DEC-1990,NaN,NaN,NaN,NaN,"GRADUATE: GRADUATE,A.T.A.,INDIA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MR.CONTRACTOR HAS BEEN ASSOCIATED WITH THE COM...,NaN
4,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,P00012704,MR.,ATUL,SHANTIKUMAR,DAYAL,21-SEP-1948,M,INDIA,10-DEC-1990,NONE,NaN,NaN,NaN,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR.A. S. DAYAL, A LEGAL LUMINARY IN MUMBAI HAS...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225905,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00043398,MR.,KULIN,SANJAY,LAL,13-AUG-1985,M,INDIA,18-NOV-2016,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,"GRADUATE: B.SC.-ELECTRICAL ENGINEERING,STANFOR...","POST GRADUATE: M.B.A.,HARVARD BUSINESS SCHOOL,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONSUMER DISCRETIONARY,CORPORATE SOCIAL RESPON...","EXECUTIVE DIRECTOR, ARVIND LTD.",ARVIND FASHIONS LTD.,ARVIND LTD.,ARVIND SMARTSPACES LTD.,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR. KULIN LALBHAI, AGED 31 YEARS HOLDS AN MBA ...",17-NOV-2026
225906,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00027471,MR.,VISHNU,RAJU SRI,NANDYALA,20-DEC-1973,M,INDIA,11-MAR-2019,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,"GRADUATE: B.E.-CHEMICAL,OSMANIA UNIVERSITY,TEL...",POST GRADUATE: EXECUTIVE M.B.A.-OWNER,"PRESIDENT MANAGEMENT PROGRAM,HARVARD BUSINESS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONSUMER DISCRETIONARY,CORPORATE GOVERNANCE,FI...","FOUNDER,CHAIRPERSON & CHIEF EXECUTIVE OFFICER,...",AMARA RAJA ENERGY & MOBILITY LTD.,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MR. VISHNU RAJU IS THE CHAIRMAN AND CEO OF EXC...,10-MAR-2029
225907,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00022618,MR.,GANESH,NARAYAN,NAYAK,18-MAY-1955,M,INDIA,27-JUL-2006,NONE,NO,"NOMINEE DIRECTOR OF CADILA HEALTHCARE LTD., NO...",NO,"GRADUATE: B.SC.,UNIVERSITY OF MYSORE,MYSURU","POST GRADUATE: M.B.A.,NEWPORT UNIVERSITY,CALIF...","POST GRADUATE: P.G.-GENERAL MANAGEMENT,HARVARD...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FAST MOVING CONSUMER GOODS,HEALTHCARE,LEADERSH...","MANAGING DIRECTOR, ZYDUS LIFESCIENCES LTD.",ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR. GANESH NAYAK, THE EXECUTIVE DIRECTOR OF ZY...",NaN
225908,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,13-OCT-1978,M,INDIA,27-APR-2009,NONE,YES,"CHAIRPERSON, NON-EXECUTIVE DIRECTOR, PROMOTER-...",NO,"SCHOOLING: SECONDARY EDUCATION,ST.LAWRENCE SCH...",GRADUATE: CERTIFICATE-LEADERSHIP,GRADUATE: GRADUATE-CHEMICAL & PHARMACEUTICAL S...,"GRADUATE: GRADUATE-EXECUTIVE PROGRAMME,SINGULA...","DOCTORATE: PH.D.-BREAST CANCER,JOHNS HOPKINS U...",NaN,NaN,NaN,NaN,NaN,"CORPORATE SOCIAL RESPONSIBILITY,FAST MOVING CO...","MANAGING DIRECTOR, ZYDUS LIFESCIENCES LTD.",ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DR. SHARVIL P. PATEL IS THE MANAGING DIRECTOR ...,NaN
225909,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00053258,MS.,DHARMISHTA,NARENDRAPRASAD,RAVAL,12-JAN-1956,F,INDIA,11-MAR-2019,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,GRADUATE: B.SC.,GRADUATE: LL.B.,POST GRADUATE: LL.M.,POST GRADUATE: MASTERS-LEGISLATIVE LAW,NaN,NaN,NaN,NaN,NaN,NaN,"COMMODITIES,CORPORATE GOVERNANCE,DIVERSITY,FAS...","SECRETARY, INDIAN LAW INSTITUTE OF GUJARAT STA...",NOCIL LTD.,ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MS. DHARMISHTABEN N. RAVAL, AN EMINENT LAWYER ...",10-MAR-2029

In [4]:
# Mixed Data Type problematic columns

mixedDataColNum = [15,16,17,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,46]
mixedDataColNum2 = [x-1 for x in mixedDataColNum]

mixedDataCol = mainDirect.columns[mixedDataColNum2]
mixedDataCol

Index(['Promoter Director (Yes/No)', 'Position on Board',
       'Independent (Yes/No)', 'Occupation', 'Other Directorship 1',
       'Other Directorship 2', 'Other Directorship 3', 'Other Directorship 4',
       'Other Directorship 5', 'Other Directorship 6', 'Other Directorship 7',
       'Other Directorship 8', 'Other Directorship 9', 'Other Directorship 10',
       'Other Directorship 11', 'Other Directorship 12',
       'Other Directorship 13', 'Other Directorship 14',
       'Other Directorship 15', 'Tenure Valid till'],
      dtype='object')

In [5]:
# Mentioning key data types

mainDirect[mixedDataCol] = mainDirect[mixedDataCol].astype(str)

mainDirect["Cessation Reason"] = np.NaN

mainDirect["AsOnDate"] = pd.to_datetime( mainDirect["AsOnDate"], format = "%Y-%m-%d" )
mainDirect["Date of Birth"] = pd.to_datetime( mainDirect["Date of Birth"], format = "%d-%b-%Y" )
mainDirect["Appointment Date"] = pd.to_datetime( mainDirect["Appointment Date"], format = "%d-%b-%Y" )
mainDirect["Cessation Date"] = pd.NaT
mainDirect["Tenure Valid till"] = pd.to_datetime( mainDirect["Tenure Valid till"], format = "%d-%b-%Y", errors = "coerce" )

In [6]:
mainDirect

,Symbol,Company,AsOnDate,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Brief Profile,Tenure Valid till,Cessation Reason,Cessation Date
0,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,1960-05-14,M,INDIA,2002-07-24,NONE,nan,nan,nan,GRADUATE: B.COM.,"POST GRADUATE: M.B.A.-FINANCE,BANGALORE UNIVER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,FINANCE,LEADERSHIP/MAN...",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. B.V. SHANKARANARAYANA RAO, 57, HOLDS A BAC...",NaT,NaN,NaT
1,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2001-12-26,NONE,nan,nan,nan,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. D.J. BALAJI RAO, 73, HOLDS A B.E DEGREE IN...",NaT,NaN,NaT
2,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00033331,MR.,BALASUBRAMANIAM,SOMASKANDAN,IYER,1949-10-13,M,INDIA,2001-12-26,NONE,nan,nan,nan,GRADUATE: DIPLOMA-MANAGERIAL ACCOUNTING,"POST GRADUATE: FELLOW-MEMBER,INSTITUTE OF COMP...","POST GRADUATE: M.COM.,UNIVERSITY OF MUMBAI,MUMBAI","POST GRADUATE: M.L.,UNIVERSITY OF MUMBAI,MUMBAI","POST GRADUATE: MEMBER,ALL INDIA MANAGEMENT ASS...",NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. B.S. IYER, 62, IS A POST GRADUATE IN COMME...",NaT,NaN,NaT
3,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,P00022755,LATE MR.,SHAHRUKH,MINOCHER,CONTRACTOR,1931-03-19,M,NaN,1990-12-31,NaN,nan,nan,nan,"GRADUATE: GRADUATE,A.T.A.,INDIA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,MR.CONTRACTOR HAS BEEN ASSOCIATED WITH THE COM...,NaT,NaN,NaT
4,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,P00012704,MR.,ATUL,SHANTIKUMAR,DAYAL,1948-09-21,M,INDIA,1990-12-10,NONE,nan,nan,nan,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR.A. S. DAYAL, A LEGAL LUMINARY IN MUMBAI HAS...",NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225905,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00043398,MR.,KULIN,SANJAY,LAL,1985-08-13,M,INDIA,2016-11-18,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,"GRADUATE: B.SC.-ELECTRICAL ENGINEERING,STANFOR...","POST GRADUATE: M.B.A.,HARVARD BUSINESS SCHOOL,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONSUMER DISCRETIONARY,CORPORATE SOCIAL RESPON...","EXECUTIVE DIRECTOR, ARVIND LTD.",ARVIND FASHIONS LTD.,ARVIND LTD.,ARVIND SMARTSPACES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. KULIN LALBHAI, AGED 31 YEARS HOLDS AN MBA ...",2026-11-17,NaN,NaT
225906,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00027471,MR.,VISHNU,RAJU SRI,NANDYALA,1973-12-20,M,INDIA,2019-03-11,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,"GRADUATE: B.E.-CHEMICAL,OSMANIA UNIVERSITY,TEL...",POST GRADUATE: EXECUTIVE M.B.A.-OWNER,"PRESIDENT MANAGEMENT PROGRAM,HARVARD BUSINESS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONSUMER DISCRETIONARY,CORPORATE GOVERNANCE,FI...","FOUNDER,CHAIRPERSON & CHIEF EXECUTIVE OFFICER,...",AMARA RAJA ENERGY & MOBILITY LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,MR. VISHNU RAJU IS THE CHAIRMAN AND CEO OF EXC...,2029-03-10,NaN,NaT
225907,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00022618,MR.,GANESH,NARAYAN,NAYAK,1955-05-18,M,INDIA,2006-07-27,NONE,NO,"NOMINEE DIRECTOR OF CADILA HEALTHCARE LTD., NO...",NO,"GRADUATE: B.SC.,UNIVERSITY OF MYSORE,MYSURU","POST GRADUATE: M.B.A.,NEWPORT UNIVERSITY,CALIF...","POST GRADUATE: P.G.-GENERAL MANAGEMENT,HARVARD...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FAST MOVING CONSUMER GOODS,HEALTHCARE,LEADERSH...","MANAGING DIRECTOR, ZYDUS LIFESCIENCES LTD.",ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. GANESH NAYAK, THE EXECUTIVE DIRECTOR OF ZY...",NaT,NaN,NaT
225908,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,1978-10-13,M,INDIA,2009-04-27,NONE,YES,"CHAIRPERSON, NON-EXECUTIVE DIRECTOR, PROMOTER-...",NO,"SCHOOLING: SECONDARY EDUCATION,ST.LAWRENCE SCH...",GRADUATE: CERTIFICATE-LEADERSHIP,GRADUATE: GRADUATE-CHEMICAL & PHARMACEUTICAL S...,"GRADUATE: GRADUATE-EXECUTIVE PROGRAMME,SINGULA...","DOCTORATE: PH.D.-BREAST CANCER,JOHNS HOPKINS U...",NaN,NaN,NaN,NaN,NaN,"CORPORATE SOCIAL RESPONSIBILITY,FAST MOVING CO...","MANAGING DIRECTOR, ZYDUS LIFESCIENCES LTD.",ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,DR. SHARVIL P. PATEL IS THE MANAGING DIRECTOR ...,NaT,NaN,NaT
225909,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00053258,MS.,DHARMISHTA,NARENDRAPRASAD,RAVAL,1956-01-12,F,INDIA,2019-03-11,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,GRADUATE: B.SC.,GRADUATE: LL.B.,POST GRADUATE: LL.M.,POST GRADUATE: MASTERS-LEGISLATIVE LAW,NaN,NaN,NaN,NaN,NaN,NaN,"COMMODITIES,CORPORATE GOVERNANCE,DIVERSITY,FAS...","SECRETARY, INDIAN LAW INSTITUTE OF GUJARAT STA...",NOCIL LTD.,ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MS. DHARMISHTABEN N. RAVAL, AN EMINENT LAWYER ...",2029-03-10,NaN,NaT

### 1 INDEP POPULATING 1

In [7]:
# Slicing the dataframe for eefficiency

balDirect = mainDirect[["Symbol", "AsOnDate", "Person Code", "Appointment Date", "Cessation Date", "Independent (Yes/No)"]]
balDirect = balDirect.sort_values(by = ["Symbol", "Person Code", "AsOnDate"]).set_index(["Symbol", "Person Code", "AsOnDate"], drop = False)

In [8]:
# IsIndep populating based on pre existing column as a dummy

balDirect.insert(column = "Indep", loc = 3, value = "U")
balDirect.loc[(balDirect["Independent (Yes/No)"] == "YES"), "Indep"] = "Y"
balDirect.loc[(balDirect["Independent (Yes/No)"] == "NO"), "Indep"] = "N"
balDirect = balDirect.drop("Independent (Yes/No)", axis = 1)

In [9]:
balDirect

                                     Symbol   AsOnDate Person Code Indep  \
Symbol    Person Code AsOnDate
20MICRONS P00004449   2024-03-31  20MICRONS 2024-03-31   P00004449     Y
          P00027633   2009-03-31  20MICRONS 2009-03-31   P00027633     U
                      2010-03-31  20MICRONS 2010-03-31   P00027633     U
                      2011-03-31  20MICRONS 2011-03-31   P00027633     U
                      2012-03-31  20MICRONS 2012-03-31   P00027633     U
...                                     ...        ...         ...   ...
ZYLOG     P00114429   2014-03-31      ZYLOG 2014-03-31   P00114429     U
                      2015-03-31      ZYLOG 2015-03-31   P00114429     U
                      2016-03-31      ZYLOG 2016-03-31   P00114429     U
                      2017-03-31      ZYLOG 2017-03-31   P00114429     U
                      2018-03-31      ZYLOG 2018-03-31   P00114429     U

                                 Appointment Date Cessation Date
Symbol    Person Code AsOnDate
20MICRONS P00004449   2024-03-31       2023-05-16            NaT
          P00027633   2009-03-31       2007-10-13            NaT
                      2010-03-31       2007-10-13            NaT
                      2011-03-31       2007-10-13            NaT
                      2012-03-31       2007-10-13            NaT
...                                           ...            ...
ZYLOG     P00114429   2014-03-31       2003-12-30            NaT
                      2015-03-31       2003-12-30            NaT
                      2016-03-31       2003-12-30            NaT
                      2017-03-31       2003-12-30            NaT
                      2018-03-31       2003-12-30            NaT

[225910 rows x 6 columns]

### 1 PREVIOUS LAST SERVED 2

In [10]:
# Which date does this person appear last in that company

def PrevLastServed(frame):
    frameOut = pd.DataFrame( columns = ["AsOnDate", "PrevLastServed"] )
    frameOut["AsOnDate"] = frame["AsOnDate"]
    frameOut["PrevLastServed"] = frame["AsOnDate"].shift( periods = 1, axis = 0 )
    return frameOut

In [11]:
prevLastServed = balDirect.reset_index(drop = True).groupby(
    ["Symbol", "Person Code"] ).progress_apply( PrevLastServed )

100%|███████████████████████████████████████████████████████████████████████████| 43499/43499 [06:26<00:00, 112.48it/s]

In [12]:
prevLastServed.reset_index( drop = False ).drop(["level_2"], axis =1 )

           Symbol Person Code   AsOnDate PrevLastServed
0       20MICRONS   P00004449 2024-03-31            NaT
1       20MICRONS   P00027633 2009-03-31            NaT
2       20MICRONS   P00027633 2010-03-31     2009-03-31
3       20MICRONS   P00027633 2011-03-31     2010-03-31
4       20MICRONS   P00027633 2012-03-31     2011-03-31
...           ...         ...        ...            ...
225905      ZYLOG   P00114429 2014-03-31     2013-03-31
225906      ZYLOG   P00114429 2015-03-31     2014-03-31
225907      ZYLOG   P00114429 2016-03-31     2015-03-31
225908      ZYLOG   P00114429 2017-03-31     2016-03-31
225909      ZYLOG   P00114429 2018-03-31     2017-03-31

[225910 rows x 4 columns]

In [13]:
balDirect2 = pd.merge( balDirect.reset_index(drop = True), prevLastServed.reset_index( drop = False ).drop(["level_2"], axis =1 ), on = ["Symbol", "Person Code", "AsOnDate"])

In [14]:
balDirect2

,Symbol,AsOnDate,Person Code,Indep,Appointment Date,Cessation Date,PrevLastServed
0,20MICRONS,2024-03-31,P00004449,Y,2023-05-16,NaT,NaT
1,20MICRONS,2009-03-31,P00027633,U,2007-10-13,NaT,NaT
2,20MICRONS,2010-03-31,P00027633,U,2007-10-13,NaT,2009-03-31
3,20MICRONS,2011-03-31,P00027633,U,2007-10-13,NaT,2010-03-31
4,20MICRONS,2012-03-31,P00027633,U,2007-10-13,NaT,2011-03-31
...,...,...,...,...,...,...,...
225905,ZYLOG,2014-03-31,P00114429,U,2003-12-30,NaT,2013-03-31
225906,ZYLOG,2015-03-31,P00114429,U,2003-12-30,NaT,2014-03-31
225907,ZYLOG,2016-03-31,P00114429,U,2003-12-30,NaT,2015-03-31
225908,ZYLOG,2017-03-31,P00114429,U,2003-12-30,NaT,2016-03-31
225909,ZYLOG,2018-03-31,P00114429,U,2003-12-30,NaT,2017-03-31

### 2 CLOSING BALANCE INITIALIZATION AND CUMULATIVE SUM USAGE 3

In [15]:
# Instantiating and assigning Closing Balance variables
# We use closing balance here, as these variables are the ones that capture data from the current row. 
# Opening bal variables bring data from previous rows.

balDirect2["CloBalUnc"] = 0
balDirect2["CloBalIndep"] = 0
balDirect2["CloBalNonIndep"] = 0
balDirect2

,Symbol,AsOnDate,Person Code,Indep,Appointment Date,Cessation Date,PrevLastServed,CloBalUnc,CloBalIndep,CloBalNonIndep
0,20MICRONS,2024-03-31,P00004449,Y,2023-05-16,NaT,NaT,0,0,0
1,20MICRONS,2009-03-31,P00027633,U,2007-10-13,NaT,NaT,0,0,0
2,20MICRONS,2010-03-31,P00027633,U,2007-10-13,NaT,2009-03-31,0,0,0
3,20MICRONS,2011-03-31,P00027633,U,2007-10-13,NaT,2010-03-31,0,0,0
4,20MICRONS,2012-03-31,P00027633,U,2007-10-13,NaT,2011-03-31,0,0,0
...,...,...,...,...,...,...,...,...,...,...
225905,ZYLOG,2014-03-31,P00114429,U,2003-12-30,NaT,2013-03-31,0,0,0
225906,ZYLOG,2015-03-31,P00114429,U,2003-12-30,NaT,2014-03-31,0,0,0
225907,ZYLOG,2016-03-31,P00114429,U,2003-12-30,NaT,2015-03-31,0,0,0
225908,ZYLOG,2017-03-31,P00114429,U,2003-12-30,NaT,2016-03-31,0,0,0
225909,ZYLOG,2018-03-31,P00114429,U,2003-12-30,NaT,2017-03-31,0,0,0

In [16]:
# cumulative sum to capture cumulative years of Independent status within a company for a person
# initiate cumsum values with 1 wrt their correspondant independent status, these will cumulative summed over later

balDirect2["cumsum_U"] = 0
balDirect2["cumsum_Y"] = 0
balDirect2["cumsum_N"] = 0

balDirect2.loc[ balDirect2["Indep"] == "U","cumsum_U"] = 1
balDirect2.loc[ balDirect2["Indep"] == "Y","cumsum_Y"] = 1
balDirect2.loc[ balDirect2["Indep"] == "N","cumsum_N"] = 1

In [17]:
# Assigns Closing Balance Unclear with number of days of term before any record. Since there are no records,
# these days are under unclear independent status

# Here, this variable is not showcasing the status as of closing current year, but is showing opening current year.
# The current years" term days will be added later and opening balance will be inferred afterwards.

# cumulative sum function works on cumsum columns

def CloBalUncInitial(frame):
    frame["CloBalUnc"] += (frame.loc[:, "AsOnDate"].min() - frame["Appointment Date"]).dt.days

    frame["cumsum_U"] = np.cumsum(frame["cumsum_U"])
    frame["cumsum_Y"] = np.cumsum(frame["cumsum_Y"])
    frame["cumsum_N"] = np.cumsum(frame["cumsum_N"])
    return (frame)

In [18]:
balDirect3 = balDirect2.reset_index(drop = True).groupby(
    ["Symbol", "Person Code"] ).progress_apply( CloBalUncInitial )

100%|████████████████████████████████████████████████████████████████████████████| 43499/43499 [13:13<00:00, 54.80it/s]

### 3 CLOSING BALANCE FINALIZATION 3

In [19]:
# Adds 365 days based on current rows cumulative terms as dictated by cumsum columns
# cumsum carries forward the terms throughout the symbolxPCode combination

  
balDirect3.loc[ (balDirect3["cumsum_U"] > 0 ) , "CloBalUnc" ] += (balDirect3["cumsum_U"]) * 365   
balDirect3.loc[ (balDirect3["cumsum_Y"] > 0 ) , "CloBalIndep" ] += (balDirect3["cumsum_Y"]) * 365  
balDirect3.loc[ (balDirect3["cumsum_N"] > 0 ) , "CloBalNonIndep" ] += (balDirect3["cumsum_N"]) * 365
        
balDirect3["CloBalTotal"] = 0
balDirect3["CloBalTotal"] = balDirect3["CloBalUnc"] + balDirect3["CloBalIndep"] + balDirect3["CloBalNonIndep"]

In [20]:
balDirect3

                                 Symbol   AsOnDate Person Code Indep  \
Symbol    Person Code
20MICRONS P00004449   0       20MICRONS 2024-03-31   P00004449     Y
          P00027633   1       20MICRONS 2009-03-31   P00027633     U
                      2       20MICRONS 2010-03-31   P00027633     U
                      3       20MICRONS 2011-03-31   P00027633     U
                      4       20MICRONS 2012-03-31   P00027633     U
...                                 ...        ...         ...   ...
ZYLOG     P00114429   225905      ZYLOG 2014-03-31   P00114429     U
                      225906      ZYLOG 2015-03-31   P00114429     U
                      225907      ZYLOG 2016-03-31   P00114429     U
                      225908      ZYLOG 2017-03-31   P00114429     U
                      225909      ZYLOG 2018-03-31   P00114429     U

                             Appointment Date Cessation Date PrevLastServed  \
Symbol    Person Code
20MICRONS P00004449   0            2023-05-16            NaT            NaT
          P00027633   1            2007-10-13            NaT            NaT
                      2            2007-10-13            NaT     2009-03-31
                      3            2007-10-13            NaT     2010-03-31
                      4            2007-10-13            NaT     2011-03-31
...                                       ...            ...            ...
ZYLOG     P00114429   225905       2003-12-30            NaT     2013-03-31
                      225906       2003-12-30            NaT     2014-03-31
                      225907       2003-12-30            NaT     2015-03-31
                      225908       2003-12-30            NaT     2016-03-31
                      225909       2003-12-30            NaT     2017-03-31

                              CloBalUnc  CloBalIndep  CloBalNonIndep  \
Symbol    Person Code
20MICRONS P00004449   0           320.0          365               0
          P00027633   1           900.0            0               0
                      2          1265.0            0               0
                      3          1630.0            0               0
                      4          1995.0            0               0
...                                 ...          ...             ...
ZYLOG     P00114429   225905     4109.0            0               0
                      225906     4474.0            0               0
                      225907     4839.0            0               0
                      225908     5204.0            0               0
                      225909     5569.0            0               0

                              cumsum_U  cumsum_Y  cumsum_N  CloBalTotal
Symbol    Person Code
20MICRONS P00004449   0              0         1         0        685.0
          P00027633   1              1         0         0        900.0
                      2              2         0         0       1265.0
                      3              3         0         0       1630.0
                      4              4         0         0       1995.0
...                                ...       ...       ...          ...
ZYLOG     P00114429   225905         2         0         0       4109.0
                      225906         3         0         0       4474.0
                      225907         4         0         0       4839.0
                      225908         5         0         0       5204.0
                      225909         6         0         0       5569.0

[225910 rows x 14 columns]

### 3 OPENING BALANCE AND YOE 5

In [21]:
# Opening Blance Claculations

balDirect3["OpBalUnc"] = 0
balDirect3["OpBalIndep"] = 0
balDirect3["OpBalNonIndep"] = 0
balDirect3["OpBalTotal"] = 0

balDirect3["OpBalUnc"] = balDirect3["CloBalUnc"]
balDirect3["OpBalIndep"] = balDirect3["CloBalIndep"]
balDirect3["OpBalNonIndep"] = balDirect3["CloBalNonIndep"]

balDirect3.loc[ balDirect3["Indep"] == "U","OpBalUnc"] -= (365)
balDirect3.loc[ balDirect3["Indep"] == "Y","OpBalIndep"] -= (365)
balDirect3.loc[ balDirect3["Indep"] == "N","OpBalNonIndep"] -= (365)
balDirect3["OpBalTotal"] = 0
balDirect3["OpBalTotal"] = balDirect3["OpBalUnc"] + balDirect3["OpBalIndep"] + balDirect3["OpBalNonIndep"]

In [22]:
# Rearranging the Datafile

balDirect3cols = balDirect3.columns
balDirect3cols_rearranged = ['Symbol',  'Person Code', 'AsOnDate', 'PrevLastServed', 'Indep', 'Appointment Date', 'Cessation Date',  
                             'cumsum_U', 'cumsum_Y', 'cumsum_N',
                             'OpBalUnc', 'OpBalIndep', 'OpBalNonIndep', 'OpBalTotal',
                             'CloBalUnc', 'CloBalIndep', 'CloBalNonIndep','CloBalTotal',
                            ]
balDirect4 = balDirect3[balDirect3cols_rearranged].reset_index(drop = True)
balDirect4

,Symbol,Person Code,AsOnDate,PrevLastServed,Indep,Appointment Date,Cessation Date,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal
0,20MICRONS,P00004449,2024-03-31,NaT,Y,2023-05-16,NaT,0,1,0,320.0,0,0,320.0,320.0,365,0,685.0
1,20MICRONS,P00027633,2009-03-31,NaT,U,2007-10-13,NaT,1,0,0,535.0,0,0,535.0,900.0,0,0,900.0
2,20MICRONS,P00027633,2010-03-31,2009-03-31,U,2007-10-13,NaT,2,0,0,900.0,0,0,900.0,1265.0,0,0,1265.0
3,20MICRONS,P00027633,2011-03-31,2010-03-31,U,2007-10-13,NaT,3,0,0,1265.0,0,0,1265.0,1630.0,0,0,1630.0
4,20MICRONS,P00027633,2012-03-31,2011-03-31,U,2007-10-13,NaT,4,0,0,1630.0,0,0,1630.0,1995.0,0,0,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225905,ZYLOG,P00114429,2014-03-31,2013-03-31,U,2003-12-30,NaT,2,0,0,3744.0,0,0,3744.0,4109.0,0,0,4109.0
225906,ZYLOG,P00114429,2015-03-31,2014-03-31,U,2003-12-30,NaT,3,0,0,4109.0,0,0,4109.0,4474.0,0,0,4474.0
225907,ZYLOG,P00114429,2016-03-31,2015-03-31,U,2003-12-30,NaT,4,0,0,4474.0,0,0,4474.0,4839.0,0,0,4839.0
225908,ZYLOG,P00114429,2017-03-31,2016-03-31,U,2003-12-30,NaT,5,0,0,4839.0,0,0,4839.0,5204.0,0,0,5204.0
225909,ZYLOG,P00114429,2018-03-31,2017-03-31,U,2003-12-30,NaT,6,0,0,5204.0,0,0,5204.0,5569.0,0,0,5569.0

In [23]:
# YOE
balDirect4.insert(len(balDirect4.columns), column = 'YOE', value = 0)
balDirect4['YOE'] = (balDirect4['AsOnDate'] - balDirect4['Appointment Date']).dt.days

In [24]:
# YOE MAX
def YOE(frame):
    return frame['YOE'].max()

In [25]:
YOEmax = balDirect4.groupby(['Person Code', 'AsOnDate']).progress_apply(YOE)

100%|████████████████████████████████████████████████████████████████████████| 179195/179195 [00:22<00:00, 7819.30it/s]

In [26]:
YOEmax = YOEmax.reset_index()
YOEmax

       Person Code   AsOnDate        0
0        P00000005 2006-03-31   8612.0
1        P00000005 2007-03-31   8977.0
2        P00000005 2008-03-31   9343.0
3        P00000005 2009-03-31   9708.0
4        P00000005 2010-03-31  10073.0
...            ...        ...      ...
179190   P00123356 2024-03-31    296.0
179191   P00123357 2024-03-31    545.0
179192   P00123448 2024-03-31    969.0
179193   P00123948 2024-03-31    920.0
179194   P00123949 2024-03-31    946.0

[179195 rows x 3 columns]

In [27]:
balDirect5 = balDirect4.merge(YOEmax, on = ['Person Code', 'AsOnDate'])
balDirect5 = balDirect5.rename(columns = {0 : "YOEmax"})
balDirect5.sort_values(by = ["Person Code", "Symbol", "AsOnDate"])

,Symbol,Person Code,AsOnDate,PrevLastServed,Indep,Appointment Date,Cessation Date,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal,YOE,YOEmax
8899,AEGISLOG,P00000005,2006-03-31,NaT,U,1982-09-01,NaT,1,0,0,8612.0,0,0,8612.0,8977.0,0,0,8977.0,8612.0,8612.0
8900,AEGISLOG,P00000005,2007-03-31,2006-03-31,U,1982-09-01,NaT,2,0,0,8977.0,0,0,8977.0,9342.0,0,0,9342.0,8977.0,8977.0
8901,AEGISLOG,P00000005,2008-03-31,2007-03-31,U,1982-09-01,NaT,3,0,0,9342.0,0,0,9342.0,9707.0,0,0,9707.0,9343.0,9343.0
8902,AEGISLOG,P00000005,2009-03-31,2008-03-31,U,1982-09-01,NaT,4,0,0,9707.0,0,0,9707.0,10072.0,0,0,10072.0,9708.0,9708.0
8903,AEGISLOG,P00000005,2010-03-31,2009-03-31,U,1982-09-01,NaT,5,0,0,10072.0,0,0,10072.0,10437.0,0,0,10437.0,10073.0,10073.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31286,AZAD,P00123356,2024-03-31,NaT,U,2023-06-09,NaT,1,0,0,296.0,0,0,296.0,661.0,0,0,661.0,296.0,296.0
31287,AZAD,P00123357,2024-03-31,NaT,U,2022-10-03,NaT,1,0,0,545.0,0,0,545.0,910.0,0,0,910.0,545.0,545.0
159188,NIITMTS,P00123448,2024-03-31,NaT,U,2021-08-05,NaT,1,0,0,969.0,0,0,969.0,1334.0,0,0,1334.0,969.0,969.0
83564,FLAIR,P00123948,2024-03-31,NaT,U,2021-09-23,NaT,1,0,0,920.0,0,0,920.0,1285.0,0,0,1285.0,920.0,920.0
83565,FLAIR,P00123949,2024-03-31,NaT,U,2021-08-28,NaT,1,0,0,946.0,0,0,946.0,1311.0,0,0,1311.0,946.0,946.0

### 1 MERGE WITH MAIN 2

In [28]:
mainDirect2 = mainDirect.merge(balDirect5.reset_index(drop = True), on = ["Symbol", "Person Code", "AsOnDate", "Appointment Date", "Cessation Date"], how = "inner", validate = "1:1")

In [29]:
mainDirect2

,Symbol,Company,AsOnDate,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Brief Profile,Tenure Valid till,Cessation Reason,Cessation Date,PrevLastServed,Indep,cumsum_U,cumsum_Y,cumsum_N,OpBalUnc,OpBalIndep,OpBalNonIndep,OpBalTotal,CloBalUnc,CloBalIndep,CloBalNonIndep,CloBalTotal,YOE,YOEmax
0,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,1960-05-14,M,INDIA,2002-07-24,NONE,nan,nan,nan,GRADUATE: B.COM.,"POST GRADUATE: M.B.A.-FINANCE,BANGALORE UNIVER...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,FINANCE,LEADERSHIP/MAN...",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. B.V. SHANKARANARAYANA RAO, 57, HOLDS A BAC...",NaT,NaN,NaT,NaT,U,1,0,0,1346.0,0,0,1346.0,1711.0,0,0,1711.0,1346.0,1346.0
1,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,INDIA,2001-12-26,NONE,nan,nan,nan,"GRADUATE: ASSOCIATE MEMBER,INDIAN INSTITUTION ...","GRADUATE: B.E.-MECHANICAL,UNIVERSITY OF MADRAS...","POST GRADUATE: M.E.-MECHANICAL,UNIVERSITY OF M...",POST GRADUATE: P.G.-ADVANCED MANAGEMENT PROGRA...,POST GRADUATE: P.G.DIPLOMA-INDUSTRIAL ENGINEER...,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. D.J. BALAJI RAO, 73, HOLDS A B.E DEGREE IN...",NaT,NaN,NaT,NaT,U,1,0,0,1556.0,0,0,1556.0,1921.0,0,0,1921.0,1556.0,3289.0
2,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,P00033331,MR.,BALASUBRAMANIAM,SOMASKANDAN,IYER,1949-10-13,M,INDIA,2001-12-26,NONE,nan,nan,nan,GRADUATE: DIPLOMA-MANAGERIAL ACCOUNTING,"POST GRADUATE: FELLOW-MEMBER,INSTITUTE OF COMP...","POST GRADUATE: M.COM.,UNIVERSITY OF MUMBAI,MUMBAI","POST GRADUATE: M.L.,UNIVERSITY OF MUMBAI,MUMBAI","POST GRADUATE: MEMBER,ALL INDIA MANAGEMENT ASS...",NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. B.S. IYER, 62, IS A POST GRADUATE IN COMME...",NaT,NaN,NaT,NaT,U,1,0,0,1556.0,0,0,1556.0,1921.0,0,0,1921.0,1556.0,1556.0
3,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,P00022755,LATE MR.,SHAHRUKH,MINOCHER,CONTRACTOR,1931-03-19,M,NaN,1990-12-31,NaN,nan,nan,nan,"GRADUATE: GRADUATE,A.T.A.,INDIA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,MR.CONTRACTOR HAS BEEN ASSOCIATED WITH THE COM...,NaT,NaN,NaT,NaT,U,1,0,0,5569.0,0,0,5569.0,5934.0,0,0,5934.0,5569.0,5569.0
4,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,P00012704,MR.,ATUL,SHANTIKUMAR,DAYAL,1948-09-21,M,INDIA,1990-12-10,NONE,nan,nan,nan,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR.A. S. DAYAL, A LEGAL LUMINARY IN MUMBAI HAS...",NaT,NaN,NaT,NaT,U,1,0,0,5590.0,0,0,5590.0,5955.0,0,0,5955.0,5590.0,5590.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225905,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00043398,MR.,KULIN,SANJAY,LAL,1985-08-13,M,INDIA,2016-11-18,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,"GRADUATE: B.SC.-ELECTRICAL ENGINEERING,STANFOR...","POST GRADUATE: M.B.A.,HARVARD BUSINESS SCHOOL,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONSUMER DISCRETIONARY,CORPORATE SOCIAL RESPON...","EXECUTIVE DIRECTOR, ARVIND LTD.",ARVIND FASHIONS LTD.,ARVIND LTD.,ARVIND SMARTSPACES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. KULIN LALBHAI, AGED 31 YEARS HOLDS AN MBA ...",2026-11-17,NaN,NaT,2023-03-31,Y,0,8,0,133.0,2555,0,2688.0,133.0,2920,0,3053.0,2690.0,4266.0
225906,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00027471,MR.,VISHNU,RAJU SRI,NANDYALA,1973-12-20,M,INDIA,2019-03-11,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,"GRADUATE: B.E.-CHEMICAL,OSMANIA UNIVERSITY,TEL...",POST GRADUATE: EXECUTIVE M.B.A.-OWNER,"PRESIDENT MANAGEMENT PROGRAM,HARVARD BUSINESS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONSUMER DISCRETIONARY,CORPORATE GOVERNANCE,FI...","FOUNDER,CHAIRPERSON & CHIEF EXECUTIVE OFFICER,...",AMARA RAJA ENERGY & MOBILITY LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,MR. VISHNU RAJU IS THE CHAIRMAN AND CEO OF EXC...,2029-03-10,NaN,NaT,2023-03-31,Y,0,6,0,20.0,1825,0,1845.0,20.0,2190,0,2210.0,1847.0,5708.0
225907,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00022618,MR.,GANESH,NARAYAN,NAYAK,1955-05-18,M,INDIA,2006-07-27,NONE,NO,"NOMINEE DIRECTOR OF CADILA HEALTHCARE LTD., NO...",NO,"GRADUATE: B.SC.,UNIVERSITY OF MYSORE,MYSURU","POST GRADUATE: M.B.A.,NEWPORT UNIVERSITY,CALIF...","POST GRADUATE: P.G.-GENERAL MANAGEMENT,HARVARD...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FAST MOVING CONSUMER GOODS,HEALTHCARE,LEADERSH...","MANAGING DIRECTOR, ZYDUS LIFESCIENCES LTD.",ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. GANESH NAYAK, THE EXECUTIVE DIRECTOR OF ZY...",NaT,NaN,NaT,2023-03-31,N,3,0,12,2438.0,0,4015,6453.0,2438.0,0,4380,6818.0,6457.0,6457.0
225908,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,1978-10-13,M,INDIA,2009-04-27,NONE,YES,"CHAIRPERSON, NON-EXECUTIVE DIRECTOR, PROMOTER-...",NO,"SCHOOLING: SECONDARY EDUCATION,ST.LAWRENCE SCH...",GRADUATE: CERTIFICATE-LEADERSHIP,GRADUATE: GRADUATE-CHEMICAL & PHARMACEUTICAL S...,"GRADUATE: GRADUATE-EXECUTIVE PROGRAMME,SINGULA...","DOCTORATE: PH.D.-BREAST CANCER,JOHNS HOPKINS U...",NaN,NaN,NaN,NaN,NaN,"CORPORATE SOCIAL RESPONSIBILITY,FAST MOVING CO...","MANAGING DIRECTOR, ZYDUS LIFESCIENCES LTD.",ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,DR. SHARVIL P. PATEL IS THE MANAGING DIRECTOR ...,NaT,NaN,NaT,2023-03-31,N,3,0,12,1433.0,0,4015,5448.0,1433.0,0,4380,5813.0,5452.0,9739.0
225909,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,P00053258,MS.,DHARMISHTA,NARENDRAPRASAD,RAVAL,1956-01-12,F,INDIA,2019-03-11,NONE,NO,NON-EXECUTIVE DIRECTOR,YES,GRADUATE: B.SC.,GRADUATE: LL.B.,POST GRADUATE: LL.M.,POST GRADUATE: MASTERS-LEGISLATIVE LAW,NaN,NaN,NaN,NaN,NaN,NaN,"COMMODITIES,CORPORATE GOVERNANCE,DIVERSITY,FAS...","SECRETARY, INDIAN LAW INSTITUTE OF GUJARAT STA...",NOCIL LTD.,ZYDUS LIFESCIENCES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MS. DHARMISHTABEN N. RAVAL, AN EMINENT LAWYER ...",2029-03-10,NaN,NaT,2023-03-31,Y,0,6,0,20.0,1825,0,1845.0,20.0,2190,0,2210.0,1847.0,3607.0

## COMP COUNT CALCULATIONS

In [30]:
compCountColNum = [0,1,2,3,4,48,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45]
compCountCol = mainDirect2.columns[compCountColNum]
compCountCol

Index(['Symbol', 'Company', 'AsOnDate', 'ISIN', 'PrevLastServed',
       'Other Directorship 3', 'Other Directorship 4', 'Other Directorship 5',
       'Other Directorship 6', 'Other Directorship 7', 'Other Directorship 8',
       'Other Directorship 9', 'Other Directorship 10',
       'Other Directorship 11', 'Other Directorship 12',
       'Other Directorship 13', 'Other Directorship 14',
       'Other Directorship 15', 'Brief Profile', 'Tenure Valid till'],
      dtype='object')

In [31]:
compDirect = mainDirect2[compCountCol]
compDirect

,Symbol,Company,AsOnDate,ISIN,PrevLastServed,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Brief Profile,Tenure Valid till
0,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. B.V. SHANKARANARAYANA RAO, 57, HOLDS A BAC...",NaT
1,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. D.J. BALAJI RAO, 73, HOLDS A B.E DEGREE IN...",NaT
2,3MINDIA,3M INDIA LTD.,2006-03-31,INE470A01017,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. B.S. IYER, 62, IS A POST GRADUATE IN COMME...",NaT
3,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,MR.CONTRACTOR HAS BEEN ASSOCIATED WITH THE COM...,NaT
4,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,INE105C01023,NaT,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR.A. S. DAYAL, A LEGAL LUMINARY IN MUMBAI HAS...",NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225905,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,2023-03-31,ARVIND SMARTSPACES LTD.,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. KULIN LALBHAI, AGED 31 YEARS HOLDS AN MBA ...",2026-11-17
225906,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,2023-03-31,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,MR. VISHNU RAJU IS THE CHAIRMAN AND CEO OF EXC...,2029-03-10
225907,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,2023-03-31,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MR. GANESH NAYAK, THE EXECUTIVE DIRECTOR OF ZY...",NaT
225908,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,2023-03-31,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,DR. SHARVIL P. PATEL IS THE MANAGING DIRECTOR ...,NaT
225909,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,INE768C01010,2023-03-31,ZYDUS WELLNESS LTD.,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"MS. DHARMISHTABEN N. RAVAL, AN EMINENT LAWYER ...",2029-03-10

### 1 PAST DIRECTORSHIPS 1

In [32]:
# Per person, per AsOnDate, we get all the previous Directorships along with their Indep status

def PastDirect(frame):
    frameOut = pd.DataFrame(index = frame.index, columns = ['AsOnDate','Past Directorships']) # Output Frame
    
    for i in range(len(frame)):                                                               # iterating through the length of input frame
        Date = frame.iloc[i]['AsOnDate']                                                      # Date = AsOnDate for that iteration
        framePast = frame.loc[ frame['AsOnDate'] < Date , ['Symbol', 'Indep']]                # Creating a frame with date before current Date
        pastDirectors = list(zip(framePast['Symbol'], framePast['Indep']))                    # list of tuples of the company and indep status in the past_frame
        pastDirUnique = tuple(set(pastDirectors))                                             # converting the above to a set, to remove duplicates, and then a list for easier use

        frameOut.at[ frame.index[i], 'Past Directorships'] = pastDirUnique                    # putting the above data to the output frame
        frameOut.at[ frame.index[i], 'AsOnDate'] = Date

    return frameOut

In [33]:
pastDirect = compDirect.sort_values(by = ['Person Code', 'AsOnDate', 'Company']).groupby('Person Code').progress_apply(PastDirect)

KeyError: 'Person Code'

In [ ]:
pastDirect

In [ ]:
pastDirect2 = pastDirect.reset_index().drop( labels = ["level_1"], axis = 1 ).drop_duplicates().rename( {"Past Directorships":"AllPastDirect"}, axis = 1)

In [ ]:
pastDirect2

### 1 CURRENT DIRECTORSHIPS 1

In [ ]:
otherDirectColNum = [31,32,33,34,35,36,37,38,39,40,41,42,43,44,45]
otherDirectCol = mainDirect2.columns[otherDirectColNum]
otherDirectCol

In [ ]:
# A = Current Directorships in other records
# B = Current Directorships in other directorships columns



# A if A in B
def CurrentDirectAinB(frame, cols): 
    # Ensure cols is a list of column names and that they exist in the DataFrame
    if not all(col in frame.columns for col in cols):
        raise ValueError("One or more columns in 'cols' are not in the DataFrame")

    # Create unique list of tuples from 'Company' and 'Indep' in the current group
    comp_stat = list(set(zip(frame.Company, frame.Indep)))
    
    # Initialize the new DataFrame
    
    frameOut = pd.DataFrame(index=frame.index, columns=['Current Direct'])
    
    # Populate 'Current Direct' column
    for i in range(len(frame)):
        # Get the value for each column - All other directorships from other directorships columns
        row_values = [str(frame[col].iloc[i]) for col in cols]
        # Check if any company from comp_stat is in row_values - If companies within the frame are listed in other directorships columns
        current_direct = tuple(
            item for item in comp_stat if item[0] in row_values
        )
        frameOut.loc[frame.index[i], 'Current Direct'] = current_direct
    
    return frameOut

In [ ]:
currentDirectAinB = compDirect.groupby(['Person Code', 'AsOnDate']).progress_apply(CurrentDirectAinB, cols=otherDirectCol)

In [ ]:
currentDirectAinB

In [ ]:
noDataDates = ["2006-03-31", "2007-03-31", "2008-03-31", "2009-03-31", "2010-03-31", "2011-03-31", "2012-03-31"]
noDataDates = pd.to_datetime( noDataDates, format = "%Y-%m-%d")
                             
currentDirect2 = currentDirectAinB.reset_index( drop = False ).drop(["level_2"], axis = 1).drop_duplicates().reset_index( drop = True )
currentDirect3 = currentDirect2.loc[~currentDirect2.AsOnDate.isin(noDataDates)]
currentDirect3

In [ ]:
# A = Current Directorships in other records 

def CurrentDirectA(frame):
    cols=otherDirectCol

    # Create unique list of tuples from 'Company' and 'Indep' in the current group
    comp_stat = tuple(set(zip(frame.Company, frame.Indep)))

    return comp_stat

In [ ]:
currentDirectA = compDirect.groupby(['Person Code', 'AsOnDate']).progress_apply(CurrentDirectA)

In [ ]:
currentDirectA

In [ ]:
currentDirectA2 = currentDirectA.to_frame().reset_index( drop = False ).drop_duplicates().rename({0:"CurrDirectA"}, axis = 1).reset_index( drop = True )
currentDirectA2

In [ ]:
# comparison shows that there is a mismatch, which means that other directorships and current directorships may not be same, Ill check it outside in excel
# currentDirect3.to_csv("Check1.csv")
# currentDirectCOMPARE3.to_csv("Check2.csv")

In [ ]:
# A + B = Current Directorships in other directorships columns + Current Directorships in other directorships columns

def CurrentDirectAB(frame):
    cols=otherDirectCol

    # Create unique list of tuples from 'Company' and 'Indep' in the current group
    comp_stat = list(set(zip(frame.Company, frame.Indep)))

    for i in range(len(frame)):
        # Create a list of companies in other direct columns
        other_direct = set(str(frame[col].iloc[i]) for col in cols)
        other_direct2 = tuple(x for x in other_direct if x==x)
    
    other_direct3 = list(set(zip([x for x in other_direct2], "U")))
    
    current_direct = tuple(comp_stat + other_direct3)

    current_direct2 = tuple(x for x in current_direct if x[0] != "nan" )
    
    return current_direct2

In [ ]:
currentDirectAB = compDirect.groupby(['Person Code', 'AsOnDate']).progress_apply(CurrentDirectAB)

In [ ]:
currentDirectAB

In [ ]:
# currentDirectFINAL.to_csv("Check3.csv")

In [ ]:
currentDirectAB2 = currentDirectAB.to_frame().reset_index( drop = False ).drop_duplicates().rename({0:"CurrDirectAB"}, axis = 1).reset_index( drop = True )

In [ ]:
currentDirectAB2

### 1 COMP COUNT 1

In [ ]:
pastDirect2["AsOnDate"] = pd.to_datetime(pastDirect2["AsOnDate"], format = "%Y-%m-%d")

# Creating a comp count only variables dataframe
compCountPre = pastDirect2.merge( currentDirectA2, on = ['Person Code', 'AsOnDate'] )
compCountPre2 = compCountPre.merge( currentDirectAB2, on = ['Person Code', 'AsOnDate'] )

In [ ]:
# creating a tuple of Past Directorships

compCountPre2['PastSiezedDirectA'] = compCountPre2.progress_apply(
    lambda row: tuple(x for x in row['AllPastDirect'] if x not in row['CurrDirectA']), axis = 1)

compCountPre2['PastSiezedDirectAB'] = compCountPre2.progress_apply(
    lambda row: tuple(x for x in row['AllPastDirect'] if x not in row['CurrDirectAB']), axis = 1)

In [ ]:
compCount = compCountPre2.copy()

In [ ]:
# Count Other Past Directorships A

compCount['CountOtherPastUnclearA'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['PastSiezedDirectA'] if x[1]=='U'), axis = 1)

compCount['CountOtherPastIndepA'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['PastSiezedDirectA'] if x[1]=='Y'), axis = 1)

compCount['CountOtherPastNonIndepA'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['PastSiezedDirectA'] if x[1]=='N'), axis = 1)

compCount['CompCountOtherPastTotalA'] = compCount['CountOtherPastUnclearA']+compCount['CountOtherPastIndepA']+compCount['CountOtherPastNonIndepA']

# Count Other Past Directorships AB

compCount['CountOtherPastUnclearAB'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['PastSiezedDirectAB'] if x[1]=='U'), axis = 1)

compCount['CountOtherPastIndepAB'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['PastSiezedDirectAB'] if x[1]=='Y'), axis = 1)

compCount['CountOtherPastNonIndepAB'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['PastSiezedDirectAB'] if x[1]=='N'), axis = 1)

compCount['CompCountOtherPastTotalAB'] = compCount['CountOtherPastUnclearAB']+compCount['CountOtherPastIndepAB']+compCount['CountOtherPastNonIndepAB']

In [ ]:
# Count Current Directorships A

compCount['CountCurrUnclearA'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['CurrDirectA'] if x[1]=='U'), axis = 1)

compCount['CountCurrIndepA'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['CurrDirectA'] if x[1]=='Y'), axis = 1)

compCount['CountCurrNonIndepA'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['CurrDirectA'] if x[1]=='N'), axis = 1)

compCount['CompCountCurrTotalA'] = compCount['CountCurrUnclearA']+compCount['CountCurrIndepA']+compCount['CountCurrNonIndepA']

# Count Current Directorships AB

compCount['CountCurrUnclearAB'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['CurrDirectAB'] if x[1]=='U'), axis = 1)

compCount['CountCurrIndepAB'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['CurrDirectAB'] if x[1]=='Y'), axis = 1)

compCount['CountCurrNonIndepAB'] = compCount.progress_apply(
    lambda row: sum(1 for x in row['CurrDirectAB'] if x[1]=='N'), axis = 1)

compCount['CompCountCurrTotalAB'] = compCount['CountCurrUnclearAB']+compCount['CountCurrIndepAB']+compCount['CountCurrNonIndepAB']

In [ ]:
compCount

### 2 MERGE WITH MAIN 3

In [ ]:
mainDirect3 = mainDirect2.merge( compCount, on = ["Person Code", "AsOnDate"] )
mainDirect3

## DIRECTOR ROOKIE CLASSIFICATION AND FURTHER VARIABLES

In [ ]:
mainDirect3.loc[ mainDirect3['YOEmax'] <= 365*3, 'Rookie'] = 'Y'
mainDirect3.loc[ mainDirect3['YOEmax'] > 365*3, 'Rookie'] = 'N'

mainDirect3

In [ ]:
mainDirect3['IsIndep'] = np.where( mainDirect3['Indep'] == 'Y', 1, 0)
mainDirect3['IsNonIndep'] =  np.where( mainDirect3['Indep'] == 'Y', 0, 1)

mainDirect3['IsRookie'] = np.where( mainDirect3['Rookie'] == 'Y', 1, 0)
mainDirect3['IsNonRookie'] = np.where( mainDirect3['Rookie'] == 'Y', 0, 1)

In [ ]:
mainDirect3['Position on Board'].value_counts()

In [ ]:
mainDirect3['Position on Board'] = mainDirect3['Position on Board'].astype(str)
mainDirect3['IsCeoMD'] = np.where( 
    mainDirect3['Position on Board'].str.contains(('CEO|CHIEF EXECUTIVE OFFICER|MANAGING DIRECTOR|MD'), case = False, na = False ) , 1,0)

In [ ]:
mainDirect3['IsCeoMD'].value_counts()

In [ ]:
mainDirect3['IsChairman'] = np.where( 
    mainDirect3['Position on Board'].str.contains(('CHAIRMAN|CHAIR PERSON|CHAIRPERSON|CHAIR'), case = False, na = False ) , 1,0)

mainDirect3['IsChairman'] = np.where( 
    mainDirect3['Position on Board'].str.contains(('DY. CHAIRPERSON|DY. CHAIRMAN|DY.CHAIRPERSON|VICE CHAIRPERSON|VICE-CHAIRPERSON|VICE -CHAIRPERSON|VICE- CHAIRPERSON|VICE - CHAIRPERSON|VICE CHAIRMAN|VICE-CHAIRMAN|VICE -CHAIRMAN|VICE- CHAIRMAN|VICE - CHAIRMAN'), case = False, na = False ) , 0, mainDirect3['IsChairman'])

In [ ]:
mainDirect3['IsChairman'].value_counts()

In [ ]:
mainDirect3['IsPromoterClassification'] = np.where( mainDirect3['Promoter Director (Yes/No)'] == 'YES', 1, 0)
mainDirect3['IsPromoterClassification'].value_counts()

In [ ]:
mainDirect3['IsPromoterBoard'] = np.where(
    mainDirect3['Position on Board'].str.contains( ('PROMOTER'), case = False, na = False), 1, 0)
mainDirect3['IsPromoterBoard'].value_counts()

In [ ]:
mainDirect3['IsPromoter'] = np.where( (mainDirect3['IsPromoterClassification'] == 1) | (mainDirect3['IsPromoterBoard'] == 1) , 1, 0)
mainDirect3['IsPromoter'].value_counts()

In [ ]:
mainDirect3['IsDualityChairmanMD'] = np.where( (mainDirect3['IsCeoMD'] == 1) & (mainDirect3['IsChairman'] == 1) , 1, 0)
mainDirect3['IsDualityChairmanMD'].value_counts()

In [ ]:
mainDirect3['IsFamilyManaged'] = np.where( (mainDirect3['IsCeoMD'] == 1) & (mainDirect3['IsPromoter'] == 1) , 1, 0)
mainDirect3['IsFamilyManaged'].value_counts()

In [ ]:
mainDirect3['IsFamilyChairman'] = np.where( (mainDirect3['IsPromoter'] == 1) & (mainDirect3['IsChairman'] == 1) , 1, 0)
mainDirect3['IsFamilyChairman'].value_counts()

In [ ]:
mainDirect3['IsFamilyChairmanAndCEO'] = np.where( (mainDirect3['IsFamilyChairman'] == 1) & (mainDirect3['IsFamilyManaged'] == 1) , 1, 0)
mainDirect3['IsFamilyChairmanAndCEO'].value_counts()

In [ ]:
mainDirect3['IsRookieIndep'] = np.where( (mainDirect3['IsRookie'] == 1) & (mainDirect3['IsIndep'] == 1) , 1, 0)
mainDirect3['IsRookieIndep'].value_counts()

In [ ]:
mainDirect3['IsRookieNonIndep'] = np.where( (mainDirect3['IsRookie'] == 1) & (mainDirect3['IsIndep'] == 0) , 1, 0)
mainDirect3['IsRookieNonIndep'].value_counts()

In [ ]:
mainDirect3['IsNonRookieIndep'] = np.where( (mainDirect3['IsRookie'] == 0) & (mainDirect3['IsIndep'] == 1) , 1, 0)
mainDirect3['IsNonRookieIndep'].value_counts()

In [ ]:
mainDirect3['IsNonRookieNonIndep'] = np.where( (mainDirect3['IsRookie'] == 0) & (mainDirect3['IsIndep'] == 0) , 1, 0)
mainDirect3['IsNonRookieNonIndep'].value_counts()

In [ ]:
mainDirect3['IsFemale'] = np.where( (mainDirect3['Gender'] == 'F'), 1,0)
mainDirect3['IsFemale'].value_counts()

In [ ]:
now = pd.Timestamp('now')

mainDirect3['Date of Birth'] = pd.to_datetime(mainDirect3['Date of Birth'], format = '%Y-%m-%d')

mainDirect3['Age'] = np.floor((now - mainDirect3['Date of Birth']).dt.days / 365).astype('Int64')

In [ ]:
mainDirect3['TenureInYearsIndep'] = mainDirect3['OpBalIndep']/365
mainDirect3

In [ ]:
mainDirect3['TenureInYearsTotal'] = mainDirect3['OpBalTotal']/365
mainDirect3

In [ ]:
mainDirect3['IsFirstTermIndep'] = np.where( (mainDirect3['IsIndep'] == 1) & (mainDirect3['OpBalTotal'] < 365*5), 1, 0)

In [ ]:
mainDirect3['IsRetires5y'] = np.where((mainDirect3['OpBalTotal'] <= 365*5) & (mainDirect3['OpBalTotal'] > 365*4), 1, 0)

In [ ]:
mainDirect3['IsTermLimitRetirement'] = np.where((mainDirect3['OpBalTotal'] <= 365*10) & (mainDirect3['OpBalTotal'] > 365*9), 1, 0)

In [ ]:
mainDirect3['IsDefaultTerm'] = np.where((mainDirect3['OpBalTotal'] > 365*10), 1, 0)

In [ ]:
mainDirect3['AsOnYear'] = pd.DatetimeIndex(mainDirect3['AsOnDate']).year

In [ ]:
def Retirement(frame):

#aight shiv, get only the year from the date store it as integer. and check what is the max year(int) and put turnover =1 for the previous year or year-1
#call apply by grouping person code and company

#check if year+1 == exists at year where isretire5y = 1, if not, put hasretires5 at year = 1
#check if year+1 == exists at year where IsTermLimitRetirement = 1, if not, put hasTermLimitRetirement at year = 1

    years = frame['AsOnYear'].astype(int).tolist()

    def Conditions(row):
        turnover = 0
        HasRetires5y = 0
        HasTermLimitRetirement = 0
        year = int(row['AsOnYear'])

        if (year+1 not in years):
            turnover = 1
            if (row['IsRetires5y'] == 1):
                HasRetires5y = 1
            if (row['IsTermLimitRetirement'] == 1):
                HasTermLimitRetirement = 1

        return turnover, HasRetires5y, HasTermLimitRetirement

    frame['IsTurnOver'], frame['HasRetires5y'], frame['HasTermLimitRetirement'] = zip(*frame.apply(Conditions, axis = 1))
    return frame

In [ ]:
retire = mainDirect3.loc[ :, ['Person Code', 'Symbol', 'AsOnYear', 'IsRetires5y', 'IsTermLimitRetirement']]

In [ ]:
retire2 = retire.groupby(['Person Code', 'Symbol']).progress_apply(Retirement)

In [ ]:
retire2

In [ ]:
retire3 = retire2.reset_index( drop = True)
retire3

In [ ]:
mainDirect4 = mainDirect3.merge( retire3, on = ['Person Code', 'AsOnYear', 'Symbol', "IsRetires5y", "IsTermLimitRetirement"])

In [ ]:
mainDirect4

In [ ]:
mainDirect4['IsTurnOverIndep'] = np.where((mainDirect4['IsTurnOver'] == 1) & (mainDirect4['IsIndep'] == 1), 1, 0)

In [ ]:
mainDirect4

In [ ]:
mainDirect4.to_csv("Main_Director_complete_excl Cess v190225.csv")