In [71]:
import pandas as pd

df = pd.read_csv('Main_Director_COMPLETE_With_Meetings.csv')
print("Before Mining")
total_rows = len(df)
print(f"Total number of rows: {total_rows}")

empty_brief_profiles = df['Brief Profile'].isna().sum() + (df['Brief Profile'].str.strip() == '').sum()
print(f"Number of empty Brief Profiles: {empty_brief_profiles}")

empty_skills = df['Skills/Competencies'].apply(
    lambda x: (isinstance(x, list) and len(x) == 0) or (not isinstance(x, list) and pd.isna(x))
).sum()
print(f"Number of empty Skills/Competencies: {empty_skills}")

empty_brief_profile_flag = df['Brief Profile'].isna() | (df['Brief Profile'].str.strip() == '')
empty_skills_flag = df['Skills/Competencies'].apply(
    lambda x: (isinstance(x, list) and len(x) == 0) or (not isinstance(x, list) and pd.isna(x))
)
intersection_count = (empty_brief_profile_flag & empty_skills_flag).sum()
print(f"Number of directors with BOTH empty Brief Profile and empty Skills/Competencies: {intersection_count}")

/var/folders/cj/n529ywcn2tv783ff08sl87pm0000gn/T/ipykernel_12187/2757564922.py:3: DtypeWarning: Columns (15,16,17,27,29,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,47,51,52,197) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Main_Director_COMPLETE_With_Meetings.csv')

Before Mining
Total number of rows: 259431
Number of empty Brief Profiles: 22927
Number of empty Skills/Competencies: 89334
Number of directors with BOTH empty Brief Profile and empty Skills/Competencies: 16152

In [72]:
skill_list = [
    'economics', 'marketing', 'fast moving consumer goods', 'accounts/audit/taxation',
    'human resources', 'healthcare', 'public policy', 'corporate social responsibility',
    'finance', 'services', 'legal/compliance', 'information technology',
    'corporate governance', 'telecommunication', 'research & development', 'strategy',
    'financial services', 'risk management', 'diversified', 'supply chain management',
    'leadership/management', 'international business', 'diversity', 'consumer discretionary',
    'commodities', 'personal values', 'utilities', 'energy', 'operations', 'industrials'
]

skill_list_lower = [skill.lower().strip() for skill in skill_list]

def extract_skills(profile):
    if pd.isnull(profile):
        return []
    profile = str(profile).lower().strip()
    matched_skills = [skill for skill in skill_list_lower if skill in profile]
    return matched_skills

df['Skills/Competencies'] = df.apply(
    lambda row: extract_skills(row['Brief Profile']) if pd.isnull(row['Skills/Competencies']) or row['Skills/Competencies'] == '' else row['Skills/Competencies'],
    axis=1
)

df['Skills/Competencies'] = df['Skills/Competencies'].apply(
    lambda x: [] if not isinstance(x, list) and pd.isnull(x) else x
)

In [73]:
print("After Mining")

empty_skills = df['Skills/Competencies'].apply(lambda x: len(x) == 0).sum()
print(f"Number of empty Skills/Competencies: {empty_skills}")

After Mining
Number of empty Skills/Competencies: 54056

In [75]:
df = df.drop(columns=['Unnamed: 0'], errors='ignore')

df.reset_index(drop=True, inplace=True)

In [76]:
df

,Symbol,Company,AsOnDate,AsOnYear,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,...,HasConglomerateXPScaled_2013,General Ability Index_2013,General Ability Index_scaled_2013,FactorLoading1_2013,FactorLoading2_2013,FactorLoading3_2013,FactorLoading4_2013,FactorLoading5_2013,Eigenvalue2013,Meetings absent (%)
0,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,2006,INE208A01029,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,2006,INE118A01012,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,2006,INE371A01025,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259426,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2024-03-31,2024,INE010B01027,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0.576175,1.117739,0.713026,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0
259427,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0.576175,1.117739,0.713026,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0
259428,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00071607,MR.,TARUN,GIAN,ARORA,...,0.576175,-0.500512,-0.319286,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0
259429,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00091934,MR.,ASHISH,NaN,BHARGAVA,...,0.576175,-0.573829,-0.366056,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0
259430,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,...,0.576175,-0.573829,-0.366056,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,N.A

In [86]:
df.to_csv("Main_Director_COMPLETE_Skillset.csv")

In [78]:
df['Academic'] = df['IsPhD']

In [106]:
print(df2.columns.tolist())

['Symbol', 'Company', 'AsOnDate', 'AsOnYear', 'ISIN', 'Person Code', 'Director Salutation', 'Director First Name', 'Director Middle Name', 'Director Surname', 'Date of Birth', 'Gender', 'Nationality', 'Member of Civil Services', 'Promoter Director (Yes/No)', 'Position on Board', 'Independent (Yes/No)', 'Education1', 'Education2', 'Education3', 'Education4', 'Education5', 'Education6', 'Education7', 'Education8', 'Education9', 'Education10', 'Skills/Competencies', 'Occupation', 'Cessation Reason', 'Other Directorship 1', 'Other Directorship 2', 'Other Directorship 3', 'Other Directorship 4', 'Other Directorship 5', 'Other Directorship 6', 'Other Directorship 7', 'Other Directorship 8', 'Other Directorship 9', 'Other Directorship 10', 'Other Directorship 11', 'Other Directorship 12', 'Other Directorship 13', 'Other Directorship 14', 'Other Directorship 15', 'Brief Profile', 'Tenure Valid till', 'Indep', 'Appointment Date', 'Cessation Date', 'PrevLastServed', 'NextServed', 'CessationDummy', 'ReappointDummy', 'TermStartDummy', 'TermNumber', 'AppointDummy', 'CumOpBalUnc', 'CumOpBalIndep', 'CumOpBalNonIndep', 'CumCloBalUnc', 'CumCloBalIndep', 'CumCloBalNonIndep', 'TermOpBalUnc', 'TermOpBalIndep', 'TermOpBalNonIndep', 'TermOpBalTotal', 'TermCloBalUnc', 'TermCloBalIndep', 'TermCloBalNonIndep', 'TermCloBalTotal', 'CompOpBalUnc', 'CompOpBalIndep', 'CompOpBalNonIndep', 'CompOpBalTotal', 'CompCloBalUnc', 'CompCloBalIndep', 'CompCloBalNonIndep', 'CompCloBalTotal', 'CloBalTotalXP', 'AllPastDirect', 'CurrDirectA', 'CurrDirectAB', 'PastSiezedDirectA', 'PastSiezedDirectAB', 'CountOtherPastUnclearA', 'CountOtherPastIndepA', 'CountOtherPastNonIndepA', 'CompCountOtherPastTotalA', 'CountOtherPastUnclearAB', 'CountOtherPastIndepAB', 'CountOtherPastNonIndepAB', 'CompCountOtherPastTotalAB', 'CountCurrUnclearA', 'CountCurrIndepA', 'CountCurrNonIndepA', 'CompCountCurrTotalA', 'CountCurrUnclearAB', 'CountCurrIndepAB', 'CountCurrNonIndepAB', 'CompCountCurrTotalAB', 'Rookie', 'IsIndep', 'IsNonIndep', 'IsRookie', 'IsNonRookie', 'IsCeoMDPosition', 'IsChairmanPosition', 'IsCeoMDOccupation', 'IsChairmanOccupation', 'IsCeoMD', 'IsChairman', 'IsPromoterClassification', 'IsPromoterBoard', 'IsPromoter', 'IsDualityChairmanMD', 'IsFamilyManager', 'IsFamilyChairman', 'IsFamilyChairmanAndCEO', 'IsRookieIndep', 'IsRookieNonIndep', 'IsNonRookieIndep', 'IsNonRookieNonIndep', 'IsFemale', 'Age', 'TenureInYearsinCompIndep', 'TenureInYearsinCompTotal', 'IsFirstTerm', 'IsFirstTermIndep', 'IsOneYear', 'IsOneYearIndep', 'IsTwoYear', 'IsTwoYearIndep', 'IsThreeYear', 'IsThreeYearIndep', 'IsRetires5y', 'IsTermLimitRetirement', 'IsDefaultTerm', 'IsBusy', 'IsTurnOver', 'HasRetires5y', 'HasTermLimitRetirement', 'IsTurnOverIndep', 'Company Name', 'Prowess company code', 'Entity type', 'Entity type code', 'Incorporation year', 'Industry group', 'Industry group code', 'NIC name', 'NIC code', 'Ownership group code', 'Ownership group', 'Age group', 'NSE symbol', 'Head office address', 'Skills', 'EducationAll', 'IsMBA', 'IsPhD', 'AllPastDirectNIC', 'CurrDirectANIC', 'CurrDirectABNIC', 'AllNIC', 'AllNIC_Industry', 'HasFinanceXP', 'HasTechXP', 'HasRelatedIndustryXP', 'HasExecXP', 'PublicExecXPDummy', 'PrivateExecXPDummy', 'HasPublicExecXP', 'HasPrivateExecXP', 'SkillsInPositiononBoard', 'SkillsInOccupation', 'AllSkills', 'HasTechSkill', 'HasFinanceSkill', 'FirmsPast', 'NumSkills', 'NumFirmsPast', 'NumIndustryPast', 'HasCeoMDChairXP', 'HasConglomerateXP', 'NumSkillsScaled', 'NumFirmsPastScaled', 'NumIndustryPastScaled', 'HasCeoMDChairXPScaled', 'HasConglomerateXPScaled', 'General Ability Index', 'General Ability Index_scaled', 'FactorLoading1', 'FactorLoading2', 'FactorLoading3', 'FactorLoading4', 'FactorLoading5', 'Eigenvalue', 'NumSkillsScaled_2013', 'NumFirmsPastScaled_2013', 'NumIndustryPastScaled_2013', 'HasCeoMDChairXPScaled_2013', 'HasConglomerateXPScaled_2013', 'General Ability Index_2013', 'General Ability Index_scaled_2013', 'FactorLoading1_2013', 'FactorLoading2_2013', 'FactorLoading3_2013', 'FactorLoading4_2013', 'FactorLoading5_2013', 'Eigenvalue2013']

In [81]:
df['NIC code']

0         22209.0
1         22209.0
2         29102.0
3         64300.0
4         23912.0
           ...
259426    21002.0
259427    10409.0
259428    10409.0
259429    10409.0
259430    10409.0
Name: NIC code, Length: 259431, dtype: float64

In [82]:
def extract_manufacturing(nic_code):
    if pd.isnull(nic_code) or str(nic_code).strip() == '':
        return ''
    try:
        nic_str = str(int(float(nic_code))).zfill(2) 
        nic2 = int(nic_str[:2]) 
        return 1 if 10 <= nic2 <= 33 else 0 
    except:
        return ''
df['Manufacturing'] = df['NIC code'].apply(extract_manufacturing)

In [83]:
df

,Symbol,Company,AsOnDate,AsOnYear,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,...,General Ability Index_scaled_2013,FactorLoading1_2013,FactorLoading2_2013,FactorLoading3_2013,FactorLoading4_2013,FactorLoading5_2013,Eigenvalue2013,Meetings absent (%),Academic,Manufacturing
0,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
1,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,2006,INE208A01029,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,2006,INE118A01012,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,2006,INE371A01025,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259426,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2024-03-31,2024,INE010B01027,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0.713026,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0,1,1
259427,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0.713026,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0,1,1
259428,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00071607,MR.,TARUN,GIAN,ARORA,...,-0.319286,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0,0,1
259429,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00091934,MR.,ASHISH,NaN,BHARGAVA,...,-0.366056,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,0,0,1
259430,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,...,-0.366056,0.414736,0.601062,0.601053,0.124114,0.300081,2.412271,N.A,0,1

In [ ]:
df2 = pd.read_pickle("Main_Director_COMPLETE v170325.pkl")

In [ ]:
df2['AllPastDirectNIC'].values

In [ ]:
import ast

def parse_nic_set(value):
    try:
        result = ast.literal_eval(value)
        return result if isinstance(result, set) else set()
    except:
        return set()

df2['AllPastDirectNIC'] = df2['AllPastDirectNIC'].apply(parse_nic_set)

df2['NIC code'] = df2['NIC code'].astype(str)
def check_same_industry(row):
    focal_nic = row['NIC code']
    past_nics = row['AllPastDirectNIC']
    
    filtered_past_nics = {str(nic) for nic in past_nics if str(nic) != focal_nic}

    past_prefixes = {nic[:2] for nic in filtered_past_nics}

    return 1 if focal_nic[:2] in past_prefixes else 0

df2['Company Business'] = df2.apply(check_same_industry, axis=1)

In [ ]:
company_business_data = df2[['Person Code', 'Symbol', 'AsOnYear', 'Company Business']]
df = df.merge(company_business_data, on=['Person Code', 'Symbol', 'AsOnYear'], how='left')

In [84]:
df['CompCountOtherPastTotalAB']

0         0
1         0
2         0
3         0
4         0
         ..
259426    2
259427    2
259428    0
259429    1
259430    0
Name: CompCountOtherPastTotalAB, Length: 259431, dtype: int64

In [85]:
df['Outside Board'] = df['CompCountOtherPastTotalAB'].apply(lambda x: 1 if x > 0 else 0)

In [87]:
import pandas as pd

committee_df = pd.read_excel(
    'Indian Boards Data as on 12-Feb-2025.xlsx',
    sheet_name='Committee Details',
    skiprows=1
)
sustainability_keywords = [
    "sustainability",
    "sustainable",
    "csr",
    "corporate social responsibility",
    "sustainability committee",
    "esg committee",
    "csr committee",
    "corporate social responsibility committee",
    "environment committee"
]
sustainability_keywords_lower = [kw.lower() for kw in sustainability_keywords]

committee_df['committee_sustainability'] = committee_df['Committee Name'].astype(str).str.lower().apply(
    lambda x: int(any(keyword in x for keyword in sustainability_keywords_lower))
)

committee_flags = (
    committee_df.groupby(['Symbol', 'Person Code'])['committee_sustainability']
    .max()
    .reset_index()
)

director_df = pd.read_csv('Main_Director_COMPLETE_Skillset.csv')

director_df['profile_sustainability'] = director_df['Brief Profile'].astype(str).str.lower().apply(
    lambda x: int(any(keyword in x for keyword in sustainability_keywords_lower))
)

merged_df = director_df.merge(
    committee_flags,
    on=['Symbol', 'Person Code'],
    how='left'
)
merged_df['committee_sustainability'] = merged_df['committee_sustainability'].fillna(0).astype(int)
merged_df['Combined_Sustainability'] = merged_df[['committee_sustainability', 'profile_sustainability']].max(axis=1)
merged_df.drop(columns=['committee_sustainability', 'profile_sustainability'], inplace=True)

/var/folders/cj/n529ywcn2tv783ff08sl87pm0000gn/T/ipykernel_12187/1908893660.py:31: DtypeWarning: Columns (15,16,17,27,29,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,47,51,52,197) have mixed types. Specify dtype option on import or set low_memory=False.
  director_df = pd.read_csv('Main_Director_COMPLETE_Skillset.csv')

In [44]:
merged_df

,Symbol,Company,AsOnDate,AsOnYear,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,...,combined_governance,combined_government_&_policy,combined_international,combined_leadership,combined_legal,combined_management,combined_marketing,combined_risk_management,combined_scientific,combined_strategic_planning
0,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,...,0,0,0,0,0,1,0,0,0,0
1,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,2006,INE208A01029,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,0,0,0,0,0
3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,2006,INE118A01012,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,2006,INE371A01025,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259413,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2024-03-31,2024,INE010B01027,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,0,1,1,0,1,1,1,0,0
259414,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,0,1,1,0,1,0,1,0,0
259415,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00071607,MR.,TARUN,GIAN,ARORA,...,0,0,0,1,0,1,1,0,1,0
259416,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00091934,MR.,ASHISH,NaN,BHARGAVA,...,0,0,0,0,0,1,0,0,0,0
259417,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,...,0,0,0,0,0,1,0,0,0,0

In [88]:
merged_df['Combined_Sustainability'].value_counts()

Combined_Sustainability
0    218934
1     40497
Name: count, dtype: int64

In [89]:
merged_df.to_csv('main_director_complete_with_sustainability.csv', index=False)

In [90]:
entrepreneurial_keywords = [
    "entrepreneur",
    "entrepreneurship",
    "startup",
    "founder",
    "co-founder",
    "innovation",
    "innovator",
    "venture",
    "investor"
]
entrepreneurial_keywords_lower = [kw.lower() for kw in entrepreneurial_keywords]
committee_df['committee_entrepreneurial'] = committee_df['Committee Name'].astype(str).str.lower().apply(
    lambda x: int(any(keyword in x for keyword in entrepreneurial_keywords_lower))
)
committee_flags = (
    committee_df.groupby(['Symbol', 'Person Code'])['committee_entrepreneurial']
    .max()
    .reset_index()
)
director_df = pd.read_csv('main_director_complete_with_sustainability.csv')
director_df['profile_entrepreneurial'] = director_df['Brief Profile'].astype(str).str.lower().apply(
    lambda x: int(any(keyword in x for keyword in entrepreneurial_keywords_lower))
)
merged_df = director_df.merge(
    committee_flags,
    on=['Symbol', 'Person Code'],
    how='left'
)
merged_df['committee_entrepreneurial'] = merged_df['committee_entrepreneurial'].fillna(0).astype(int)
merged_df['Combined_Entrepreneurial'] = merged_df[['committee_entrepreneurial', 'profile_entrepreneurial']].max(axis=1)
merged_df.drop(columns=['committee_entrepreneurial', 'profile_entrepreneurial'], inplace=True)

/var/folders/cj/n529ywcn2tv783ff08sl87pm0000gn/T/ipykernel_12187/1053613001.py:21: DtypeWarning: Columns (15,16,17,27,29,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,47,51,52,197) have mixed types. Specify dtype option on import or set low_memory=False.
  director_df = pd.read_csv('main_director_complete_with_sustainability.csv')

In [48]:
merged_df

,Symbol,Company,AsOnDate,AsOnYear,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,...,combined_governance,combined_government_&_policy,combined_international,combined_leadership,combined_legal,combined_management,combined_marketing,combined_risk_management,combined_scientific,combined_strategic_planning
0,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,...,0,0,0,0,0,1,0,0,0,0
1,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,2006,INE208A01029,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,0,0,0,0,0
3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,2006,INE118A01012,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,2006,INE371A01025,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259413,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2024-03-31,2024,INE010B01027,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,0,1,1,0,1,1,1,0,0
259414,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,0,1,1,0,1,0,1,0,0
259415,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00071607,MR.,TARUN,GIAN,ARORA,...,0,0,0,1,0,1,1,0,1,0
259416,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00091934,MR.,ASHISH,NaN,BHARGAVA,...,0,0,0,0,0,1,0,0,0,0
259417,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,...,0,0,0,0,0,1,0,0,0,0

In [53]:
merged_df['Combined_Entrepreneurial'].value_counts()

Combined_Entrepreneurial
0    190568
1     68850
Name: count, dtype: int64

In [91]:
merged_df.to_csv('main_director_complete_with_entrepreneurial.csv', index=False)

In [92]:
compensation_keywords = [
    "compensation committee",
    "remuneration committee",
    "pay committee",
    "salary committee",
    "executive compensation",
    "incentive committee",
    "reward committee",
    "compensation and benefits",
    "compensation policy",
    "remuneration policy",
    "compensation",
    "salary",
    "remuneration",
    "pay",
    "bonus",
    "incentive",
    "performance bonus",
    "employee benefits",
    "wages",
    "rewards"
]
compensation_keywords_lower = [kw.lower() for kw in compensation_keywords]

committee_df['committee_compensation'] = committee_df['Committee Name'].astype(str).str.lower().apply(
    lambda x: int(any(keyword in x for keyword in compensation_keywords_lower))
)

committee_flags = (
    committee_df.groupby(['Symbol', 'Person Code'])['committee_compensation']
    .max()
    .reset_index()
)
director_df = pd.read_csv('main_director_complete_with_entrepreneurial.csv')
director_df['profile_compensation'] = director_df['Brief Profile'].astype(str).str.lower().apply(
    lambda x: int(any(keyword in x for keyword in compensation_keywords_lower))
)
merged_df = director_df.merge(
    committee_flags,
    on=['Symbol', 'Person Code'],
    how='left'
)
merged_df['committee_compensation'] = merged_df['committee_compensation'].fillna(0).astype(int)
merged_df['Combined_Compensation'] = merged_df[['committee_compensation', 'profile_compensation']].max(axis=1)
merged_df.drop(columns=['committee_compensation', 'profile_compensation'], inplace=True)

/var/folders/cj/n529ywcn2tv783ff08sl87pm0000gn/T/ipykernel_12187/4123213319.py:34: DtypeWarning: Columns (15,16,17,27,29,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,47,51,52,197) have mixed types. Specify dtype option on import or set low_memory=False.
  director_df = pd.read_csv('main_director_complete_with_entrepreneurial.csv')

In [56]:
merged_df

,Unnamed: 0,Symbol,Company,AsOnDate,AsOnYear,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,...,FactorLoading3_2013,FactorLoading4_2013,FactorLoading5_2013,Eigenvalue2013,Company Business,Manufacturing,Academic,Combined_Sustainability,Combined_Entrepreneurial,Combined_Compensation
0,0,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,...,NaN,NaN,NaN,NaN,0,1.0,0,0,0,0
1,1,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,...,NaN,NaN,NaN,NaN,0,1.0,0,0,0,0
2,2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,2006,INE208A01029,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,...,NaN,NaN,NaN,NaN,0,1.0,0,0,0,0
3,3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,2006,INE118A01012,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,...,NaN,NaN,NaN,NaN,0,0.0,0,0,0,0
4,4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,2006,INE371A01025,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,...,NaN,NaN,NaN,NaN,0,1.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259413,259413,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2024-03-31,2024,INE010B01027,P00013240,DR.(MR.),SHARVIL,PANKAJ,...,0.601053,0.124114,0.300081,2.412271,1,1.0,1,1,1,0
259414,259414,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,...,0.601053,0.124114,0.300081,2.412271,1,1.0,1,1,0,0
259415,259415,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00071607,MR.,TARUN,GIAN,...,0.601053,0.124114,0.300081,2.412271,1,1.0,0,1,1,0
259416,259416,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00091934,MR.,ASHISH,NaN,...,0.601053,0.124114,0.300081,2.412271,1,1.0,0,0,0,0
259417,259417,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00090966,MR.,SAVYASACHI,SANTOSH,...,0.601053,0.124114,0.300081,2.412271,1,1.0,0,0,0,0

In [57]:
merged_df['Combined_Compensation'].value_counts()

Combined_Compensation
0    225874
1     33544
Name: count, dtype: int64

In [93]:
merged_df.to_csv('main_director_complete_with_compensation.csv', index=False)

In [96]:
merged_df['Manufacturing'] = merged_df['Manufacturing'].fillna(0).astype(int)

In [1]:
categories_keywords = {
    "Governance": [
        "governance", "corporate governance", "governance committee", "audit committee", 
        "risk committee", "ethics committee", "compliance committee", "board governance", 
        "regulatory affairs", "internal controls", "oversight", "governance and compliance", 
        "governance practices", "governance framework", "governance structure", "governance responsibilities"
    ],
    "Government & Policy": [
        "government", "policy", "government affairs", "public policy", "government relations", 
        "legislative affairs", "policy making", "public sector", "regulations", "government strategy", 
        "public administration", "government services", "policy development", "political affairs"
    ],
    "International": [
        "international", "global", "international relations", "cross-border", "foreign affairs", 
        "multinational", "overseas", "global strategy", "global expansion", "international business", 
        "cross-cultural", "international markets", "global trade", "global governance"
    ],
    "Leadership": [
        "leadership", "executive leadership", "team leadership", "leadership development", "strategic leadership", 
        "leadership skills", "leadership team", "senior leadership", "leadership strategy", 
        "leadership responsibilities", "visionary leadership", "leadership roles", "leadership training", 
        "leadership capabilities"
    ],
    "Legal": [
        "legal", "legal affairs", "legal compliance", "legal counsel", "corporate legal", "legal strategy", 
        "legal advisor", "contract law", "intellectual property", "regulatory compliance", "litigation", 
        "legal framework", "lawsuit", "legal governance", "legal risk"
    ],
    "Management": [
        "management", "management committee", "senior management", "management team", "executive management", 
        "management strategy", "management skills", "operational management", "strategic management", 
        "project management", "management responsibilities", "management development", "performance management", 
        "resource management"
    ],
    "Marketing": [
        "marketing", "marketing strategy", "digital marketing", "marketing campaign", "marketing communications", 
        "brand management", "customer engagement", "marketing research", "social media marketing", 
        "advertising", "marketing manager", "market research", "content marketing", "product marketing", 
        "marketing analysis"
    ],
    "Risk Management": [
        "risk management", "risk mitigation", "risk assessment", "risk committee", "operational risk", 
        "financial risk", "strategic risk", "compliance risk", "risk control", "enterprise risk management", 
        "risk governance", "risk monitoring", "risk management strategy", "risk management framework", 
        "risk prevention"
    ],
    "Scientific": [
        "scientific", "research and development", "R&D", "innovation", "scientific research", "scientific committee", 
        "technology research", "science strategy", "scientific discovery", "scientific innovation", 
        "scientific analysis", "biotech", "scientific approach", "lab research", "clinical research"
    ],
    "Strategic Planning": [
        "strategic planning", "strategic development", "strategic initiatives", "business strategy", 
        "strategic goals", "long-term planning", "corporate strategy", "strategic management", 
        "strategic vision", "strategic objectives", "strategy formulation", "strategic direction", 
        "strategic partnerships", "business planning", "strategic forecasting"
    ]
}

categories_keywords_lower = {
    category: [kw.lower() for kw in keywords]
    for category, keywords in categories_keywords.items()
}
for category, keywords in categories_keywords_lower.items():
    col_name = f'committee_{category.lower().replace(" ", "_")}'
    committee_df[col_name] = committee_df['Committee Name'].astype(str).str.lower().apply(
        lambda x: int(any(keyword in x for keyword in keywords))
    )

committee_flag_cols = [f'committee_{category.lower().replace(" ", "_")}' for category in categories_keywords_lower.keys()]
committee_flags = (
    committee_df[['Symbol', 'Person Code'] + committee_flag_cols]
    .groupby(['Symbol', 'Person Code'])
    .max()
    .reset_index()
)

director_df = pd.read_csv('main_director_complete_with_compensation.csv')
for category, keywords in categories_keywords_lower.items():
    col_name = f'profile_{category.lower().replace(" ", "_")}'
    director_df[col_name] = director_df['Brief Profile'].astype(str).str.lower().apply(
        lambda x: int(any(keyword in x for keyword in keywords))
    )
merged_df = director_df.merge(
    committee_flags,
    on=['Symbol', 'Person Code'],
    how='left'
)

for category in categories_keywords_lower.keys():
    committee_col = f'committee_{category.lower().replace(" ", "_")}'
    profile_col = f'profile_{category.lower().replace(" ", "_")}'
    combined_col = f'combined_{category.lower().replace(" ", "_")}'
    
    merged_df[committee_col] = merged_df[committee_col].fillna(0).astype(int) 
    merged_df[combined_col] = merged_df[[committee_col, profile_col]].max(axis=1)
    merged_df.drop(columns=[committee_col, profile_col], inplace=True)

NameError: name 'committee_df' is not defined

In [13]:
merged_df

,Symbol,Company,AsOnDate,AsOnYear,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,...,combined_governance,combined_government_&_policy,combined_international,combined_leadership,combined_legal,combined_management,combined_marketing,combined_risk_management,combined_scientific,combined_strategic_planning
0,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,...,0,0,0,0,0,1,0,0,0,0
1,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,2006,INE208A01029,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,0,0,0,0,0
3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,2006,INE118A01012,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,2006,INE371A01025,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259413,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2024-03-31,2024,INE010B01027,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,0,1,1,0,1,1,1,0,0
259414,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,0,1,1,0,1,0,1,0,0
259415,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00071607,MR.,TARUN,GIAN,ARORA,...,0,0,0,1,0,1,1,0,1,0
259416,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00091934,MR.,ASHISH,NaN,BHARGAVA,...,0,0,0,0,0,1,0,0,0,0
259417,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
merged_df.to_csv('Main_Director_Complete_Skillsets.csv', index=False)

In [15]:
combined_cols = [col for col in merged_df.columns if col.startswith('combined_')]
for col in combined_cols:
    print(merged_df[col].value_counts(dropna=False))

combined_governance
0    216218
1     43200
Name: count, dtype: int64
combined_government_&_policy
0    223041
1     36377
Name: count, dtype: int64
combined_international
0    199240
1     60178
Name: count, dtype: int64
combined_leadership
0    236410
1     23008
Name: count, dtype: int64
combined_legal
0    246572
1     12846
Name: count, dtype: int64
combined_management
0    157582
1    101836
Name: count, dtype: int64
combined_marketing
0    229925
1     29493
Name: count, dtype: int64
combined_risk_management
0    229754
1     29664
Name: count, dtype: int64
combined_scientific
0    248992
1     10426
Name: count, dtype: int64
combined_strategic_planning
0    247741
1     11677
Name: count, dtype: int64

In [16]:
summary = pd.DataFrame({
    col: merged_df[col].value_counts(dropna=False)
    for col in combined_cols
}).fillna(0).astype(int).T

summary.columns = [f'count_{col}' for col in summary.columns]

In [17]:
summary

                              count_0  count_1
combined_governance            216218    43200
combined_government_&_policy   223041    36377
combined_international         199240    60178
combined_leadership            236410    23008
combined_legal                 246572    12846
combined_management            157582   101836
combined_marketing             229925    29493
combined_risk_management       229754    29664
combined_scientific            248992    10426
combined_strategic_planning    247741    11677

In [24]:
import pandas as pd

required_columns = [
    'Company Business', 'Manufacturing', 'Academic',
    'Combined_Sustainability', 'Combined_Entrepreneurial',
    'Combined_Compensation', 'Outside Board'
]

combined_cols = [col for col in merged_df.columns if col.startswith('combined_')] + required_columns

for col in combined_cols:
    print(merged_df[col].value_counts(dropna=False))

summary = pd.DataFrame({
    col: merged_df[col].value_counts(dropna=False)
    for col in combined_cols
}).fillna(0).astype(int).T

summary.columns = [f'count_{col}' for col in summary.columns]

combined_governance
0    216218
1     43200
Name: count, dtype: int64
combined_government_&_policy
0    223041
1     36377
Name: count, dtype: int64
combined_international
0    199240
1     60178
Name: count, dtype: int64
combined_leadership
0    236410
1     23008
Name: count, dtype: int64
combined_legal
0    246572
1     12846
Name: count, dtype: int64
combined_management
0    157582
1    101836
Name: count, dtype: int64
combined_marketing
0    229925
1     29493
Name: count, dtype: int64
combined_risk_management
0    229754
1     29664
Name: count, dtype: int64
combined_scientific
0    248992
1     10426
Name: count, dtype: int64
combined_strategic_planning
0    247741
1     11677
Name: count, dtype: int64
Company Business
1    196891
0     62527
Name: count, dtype: int64
Manufacturing
1    132915
0    126503
Name: count, dtype: int64
Academic
0    241597
1     17821
Name: count, dtype: int64
Combined_Sustainability
0    218921
1     40497
Name: count, dtype: int64
Combined_Entrepreneurial
0    190568
1     68850
Name: count, dtype: int64
Combined_Compensation
0    225874
1     33544
Name: count, dtype: int64
Outside Board
0    166333
1     93085
Name: count, dtype: int64

In [19]:
summary

                              count_0  count_1
combined_governance            216218    43200
combined_government_&_policy   223041    36377
combined_international         199240    60178
combined_leadership            236410    23008
combined_legal                 246572    12846
combined_management            157582   101836
combined_marketing             229925    29493
combined_risk_management       229754    29664
combined_scientific            248992    10426
combined_strategic_planning    247741    11677
Company Business                62527   196891
Manufacturing                  126503   132915
Academic                       241597    17821
Combined_Sustainability        218921    40497
Combined_Entrepreneurial       190568    68850
Combined_Compensation          225874    33544
Outside Board                  166333    93085

In [21]:
merged_df.describe().to_csv("")

,AsOnYear,CessationDummy,ReappointDummy,TermStartDummy,TermNumber,AppointDummy,CumOpBalUnc,CumOpBalIndep,CumOpBalNonIndep,CumCloBalUnc,...,combined_governance,combined_government_&_policy,combined_international,combined_leadership,combined_legal,combined_management,combined_marketing,combined_risk_management,combined_scientific,combined_strategic_planning
count,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000,259418.0,259418.0,259418.0,258424.000000,...,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000,259418.000000
mean,2016.233557,0.198868,0.003735,0.198911,1.012150,0.113350,0.0,0.0,0.0,335.549303,...,0.166527,0.140225,0.231973,0.088691,0.049519,0.392556,0.113689,0.114348,0.040190,0.045012
std,5.313045,0.399149,0.061003,0.399181,0.110293,0.317021,0.0,0.0,0.0,1150.293014,...,0.372553,0.347221,0.422093,0.284298,0.216948,0.488320,0.317434,0.318234,0.196405,0.207332
min,2006.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,-4433.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2017.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2021.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,365.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2024.000000,1.000000,1.000000,1.000000,3.000000,1.000000,0.0,0.0,0.0,23961.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [119]:
merged_df

,Symbol,Company,AsOnDate,AsOnYear,ISIN,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,...,combined_government_&_policy,combined_international,combined_leadership,combined_legal,combined_management,combined_marketing,combined_risk_management,combined_scientific,combined_strategic_planning,Company Business
0,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,...,0,0,0,0,1,0,0,0,0,0
1,3MINDIA,3M INDIA LTD.,2006-03-31,2006,INE470A01017,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,1,0,0,0,0,0
2,ASHOKLEY,ASHOK LEYLAND LTD.,2006-03-31,2006,INE208A01029,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,0,0,0,0,0,0
3,BAJAJHLDNG,BAJAJ HOLDINGS & INVESTMENT LTD.,2006-03-31,2006,INE118A01012,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,1,0,0,0,0,0
4,GRAPHITE,GRAPHITE INDIA LTD.,2006-03-31,2006,INE371A01025,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259426,ZYDUSLIFE,ZYDUS LIFESCIENCES LTD.,2024-03-31,2024,INE010B01027,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,1,1,0,1,1,1,0,0,0
259427,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00013240,DR.(MR.),SHARVIL,PANKAJ,PATEL,...,0,1,1,0,1,0,1,0,0,0
259428,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00071607,MR.,TARUN,GIAN,ARORA,...,0,0,1,0,1,1,0,1,0,0
259429,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00091934,MR.,ASHISH,NaN,BHARGAVA,...,0,0,0,0,1,0,0,0,0,0
259430,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,2024,INE768C01010,P00090966,MR.,SAVYASACHI,SANTOSH,SENGUPTA,...,0,0,0,0,1,0,0,0,0,0