In [1]:
import pandas as pd
import numpy as np
import scipy as sp
from tqdm import tqdm
tqdm.pandas()
from dateutil.relativedelta import relativedelta
pd.set_option("display.max_columns", None)

## Individual Director Data Only

In [2]:
# Reading Individual Years Data files and skipping 1 row. Table starts from row = 1, with header at row = 1

df1 = pd.read_excel("Indian Boards Data as on 31-Mar-2006.xlsx", sheet_name = "Master Profile", skiprows = 1)
df2 = pd.read_excel("Indian Boards Data as on 31-Mar-2007.xlsx", sheet_name = "Master Profile", skiprows = 1)
df3 = pd.read_excel("Indian Boards Data as on 31-Mar-2008.xlsx", sheet_name = "Master Profile", skiprows = 1)
df4 = pd.read_excel("Indian Boards Data as on 31-Mar-2009.xlsx", sheet_name = "Master Profile", skiprows = 1)
df5 = pd.read_excel("Indian Boards Data as on 31-Mar-2010.xlsx", sheet_name = "Master Profile", skiprows = 1)
df6 = pd.read_excel("Indian Boards Data as on 31-Mar-2011.xlsx", sheet_name = "Master Profile", skiprows = 1)
df7 = pd.read_excel("Indian Boards Data as on 31-Mar-2012.xlsx", sheet_name = "Master Profile", skiprows = 1)
df8 = pd.read_excel("Indian Boards Data as on 31-Mar-2013.xlsx", sheet_name = "Master Profile", skiprows = 1)
df9 = pd.read_excel("Indian Boards Data as on 31-Mar-2014.xlsx", sheet_name = "Master Profile", skiprows = 1)

df10 = pd.read_excel("Indian Boards Data as on 31-Mar-2015.xlsx", sheet_name = "Master Profile", skiprows = 1)
df11 = pd.read_excel("Indian Boards Data as on 31-Mar-2016.xlsx", sheet_name = "Master Profile", skiprows = 1)
df12 = pd.read_excel("Indian Boards Data as on 31-Mar-2017.xlsx", sheet_name = "Master Profile", skiprows = 1)
df13 = pd.read_excel("Indian Boards Data as on 31-Mar-2018.xlsx", sheet_name = "Master Profile", skiprows = 1)
df14 = pd.read_excel("Indian Boards Data as on 31-Mar-2019.xlsx", sheet_name = "Master Profile", skiprows = 1)
df15 = pd.read_excel("Indian Boards Data as on 31-Mar-2020.xlsx", sheet_name = "Master Profile", skiprows = 1)
df16 = pd.read_excel("Indian Boards Data as on 31-Mar-2021.xlsx", sheet_name = "Master Profile", skiprows = 1)
df17 = pd.read_excel("Indian Boards Data as on 31-Mar-2022.xlsx", sheet_name = "Master Profile", skiprows = 1)
df18 = pd.read_excel("Indian Boards Data as on 31-Mar-2023.xlsx", sheet_name = "Master Profile", skiprows = 1)
df19 = pd.read_excel("Indian Boards Data as on 31-Mar-2024.xlsx", sheet_name = "Master Profile", skiprows = 1)

In [3]:
# This inserts AsOnDate column and fills with NaT value
[df.insert(2, column = "AsOnDate", value = pd.NaT) for df in [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19]]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [4]:
# Populating dates
df1["AsOnDate"] = pd.to_datetime( "2006-03-31", format = "%Y-%m-%d" )
df2["AsOnDate"] = pd.to_datetime( "2007-03-31", format = "%Y-%m-%d" )
df3["AsOnDate"] = pd.to_datetime( "2008-03-31", format = "%Y-%m-%d" )
df4["AsOnDate"] = pd.to_datetime( "2009-03-31", format = "%Y-%m-%d" )

df5["AsOnDate"] = pd.to_datetime( "2010-03-31", format = "%Y-%m-%d" )
df6["AsOnDate"] = pd.to_datetime( "2011-03-31", format = "%Y-%m-%d" )
df7["AsOnDate"] = pd.to_datetime( "2012-03-31", format = "%Y-%m-%d" )
df8["AsOnDate"] = pd.to_datetime( "2013-03-31", format = "%Y-%m-%d" )
df9["AsOnDate"] = pd.to_datetime( "2014-03-31", format = "%Y-%m-%d" )

df10["AsOnDate"] = pd.to_datetime( "2015-03-31", format = "%Y-%m-%d" )
df11["AsOnDate"] = pd.to_datetime( "2016-03-31", format = "%Y-%m-%d" )
df12["AsOnDate"] = pd.to_datetime( "2017-03-31", format = "%Y-%m-%d" )
df13["AsOnDate"] = pd.to_datetime( "2018-03-31", format = "%Y-%m-%d" )
df14["AsOnDate"] = pd.to_datetime( "2019-03-31", format = "%Y-%m-%d" )

df15["AsOnDate"] = pd.to_datetime( "2020-03-31", format = "%Y-%m-%d" )
df16["AsOnDate"] = pd.to_datetime( "2021-03-31", format = "%Y-%m-%d" )
df17["AsOnDate"] = pd.to_datetime( "2022-03-31", format = "%Y-%m-%d" )
df18["AsOnDate"] = pd.to_datetime( "2023-03-31", format = "%Y-%m-%d" )
df19["AsOnDate"] = pd.to_datetime( "2024-03-31", format = "%Y-%m-%d" )

In [5]:
# Merging

dfs = [df.set_index(["Symbol", "Company", "AsOnDate"]) for df in [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19]]
mainDirect = pd.concat(dfs, axis=0).reset_index()
mainDirect.sort_values(["Company", "AsOnDate"]).reset_index(drop = True)

,Symbol,Company,AsOnDate,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,Nationality,Appointment Date,Member of Civil Services,Education1,Education2,Education3,Education4,Education5,Education6,Education7,Education8,Education9,Education10,Skills/Competencies,Cessation Date,Cessation Reason,Brief Profile,Promoter Director (Yes/No),Position on Board,Independent (Yes/No),Occupation,Other Directorship 1,Other Directorship 2,Other Directorship 3,Other Directorship 4,Other Directorship 5,Other Directorship 6,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Tenure Valid till
0,20MICRONS,20 MICRONS LTD.,2009-03-31,P00027662,MR.,DIPTIMOY,DINESHCHANDRA,BHATTACHARJEE,09-DEC-1955,M,NaN,29-APR-2005,NaN,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02-MAR-2009,NOMINATION ENDED,"MR.D.D.BHATTACHARJEE, IDBI-NOMINEE DIRECTOR HO...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20MICRONS,20 MICRONS LTD.,2009-03-31,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,08-DEC-1950,M,INDIA,13-OCT-2007,NONE,POST GRADUATE: M.B.A.,"POST GRADUATE: M.COM.,MAHARAJA SAYAJIRAO UNIVE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CONSUMER DISCRETIONARY...",NaN,NaN,MR.RAM DEVIDAYAL HAS A MASTER'S DEGREE IN COMM...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20MICRONS,20 MICRONS LTD.,2009-03-31,P00027664,MR.,MIHIR,ARVIND,JOSHI,12-JUN-1977,M,NaN,23-AUG-2007,NaN,"GRADUATE: ASSOCIATE MEMBER,INSTITUTE OF COMPAN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MR.MIHIR JOSHI, GVFL- NOMINEE DIRECTOR HOLDS D...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20MICRONS,20 MICRONS LTD.,2009-03-31,P00029006,MR.,ATIL,CHANDRESH,PARIKH,04-SEP-1977,M,INDIA,29-JAN-2001,NaN,"GRADUATE: B.E.-CHEMICAL,GUJARAT UNIVERSITY,AHM...","POST GRADUATE: M.B.A.-FINANCE,CALIFORNIA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CORPORATE GOVERNANCE,F...",NaN,NaN,"MR. ATIL C. PARIKH, HOLDS A BACHELOR'S DEGREE ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20MICRONS,20 MICRONS LTD.,2009-03-31,P00027661,LATE MR.,CHANDRESH,SHANTILAL,PARIKH,06-MAR-1946,M,INDIA,29-MAR-1988,NaN,POST GRADUATE: M.SC.-CHEMISTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CORPORATE GOVERNANCE,F...",NaN,NaN,"MR.CHANDRESH S. PARIKH, OUR CHAIRMAN AND MANAG...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446429,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,P00001781,MR.,RAJAGOPAL,NaN,SRINIVASACHARI,10-MAR-1940,M,INDIA,28-JAN-2007,NONE,"GRADUATE: B.COM.,GUJARAT UNIVERSITY,AHMEDABAD","GRADUATE: DIPLOMA-INDUSTRIAL FINANCE,INDIAN IN...","GRADUATE: LL.B.,GUJARAT UNIVERSITY,AHMEDABAD",POST GRADUATE: C.A.I.I.B.(CERTIFIED ASSOCIATE ...,"POST GRADUATE: M.A.-ECONOMICS,GUJARAT UNIVERSI...",NaN,NaN,NaN,NaN,NaN,"CORPORATE GOVERNANCE,CORPORATE SOCIAL RESPONSI...",07-DEC-2012,RESIGNED (NO REASON STATED),"MR.S RAJAGOPAL, FORMER CHAIRMAN & MANAGING DIR...",NO,NON-EXECUTIVE DIRECTOR,YES,RETIRED,GMR AIRPORTS INFRASTRUCTURE LTD.,SREI INFRASTRUCTURE FINANCE LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446430,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,P00062851,MR.,K.,S.,SUBRAMANIAN,17-SEP-1943,M,NaN,14-FEB-2014,NaN,POST GRADUATE: F.C.M.A.(FELLOW COST & MANAGEME...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-2016,RESIGNED (NO REASON STATED),ACCOUNTING & FINANCIAL FUNCTIONS.,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446431,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,P00042325,MR.,AYYAVU,PALANICHAMY,VASANTHAKUMAR,12-MAY-1977,M,NaN,29-JAN-2010,NaN,"GRADUATE: B.E.,BHARATHIAR UNIVERSITY,COIMBATORE","POST GRADUATE: M.B.A.,BHARATHIDASAN UNIVERSITY...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ACCOUNTS/AUDIT/TAXATION,CORPORATE GOVERNANCE,F...",20-NOV-2012,RESIGNED (NO REASON STATED),NaN,NO,NOMINEE DIRECTOR OF UTI VENTURE FUNDS MANAGEME...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446432,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,P00027523,MR.,SUDHARSHAN,NaN,VENKATRAMAN,28-JUL-1963,M,NaN,01-JUN-1995,NaN,GRADUATE: B.SC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19-NOV-2014,Suspended/Terminated/Superceded,"MR.SUDARSHAN VENKATRAMAN, IS OUR PROMOTER. MR....",NO,"CHAIRPERSON, EXECUTIVE DIRECTOR",NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446433,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,P00075398,MR.,S.,NaN,VIMALESHKUMAR,29-SEP-1970,M,NaN,25-NOV-2015,NaN,GRADUATE: B.COM.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-2016,RESIGNED (NO REASON STATED),MR. S. VIMALESH KUMAR IS A COMMERCE GRADUATE. ...,NO,NON-EXECUTIVE DIRECTOR,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
mainDirect.to_csv("Main_Director v020924.csv")

## Committees Data Only

In [7]:
# Reading Individual Years Data files for Committees and skipping 1 row. Table starts from row = 1, with header at row = 1

dfC11 = pd.read_excel("Indian Boards Data as on 31-Mar-2016.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC12 = pd.read_excel("Indian Boards Data as on 31-Mar-2017.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC13 = pd.read_excel("Indian Boards Data as on 31-Mar-2018.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC14 = pd.read_excel("Indian Boards Data as on 31-Mar-2019.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC15 = pd.read_excel("Indian Boards Data as on 31-Mar-2020.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC16 = pd.read_excel("Indian Boards Data as on 31-Mar-2021.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC17 = pd.read_excel("Indian Boards Data as on 31-Mar-2022.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC18 = pd.read_excel("Indian Boards Data as on 31-Mar-2023.xlsx", sheet_name = "Committee Details", skiprows = 1)
dfC19 = pd.read_excel("Indian Boards Data as on 31-Mar-2024.xlsx", sheet_name = "Committee Details", skiprows = 1)

In [8]:
# This inserts AsOnDate column and fills with NaT value
[df.insert(2, column = "AsOnDate", value = pd.NaT) for df in [dfC11, dfC12, dfC13, dfC14, dfC15, dfC16, dfC17, dfC18, dfC19]]

[None, None, None, None, None, None, None, None, None]

In [9]:
# Populating dates
dfC11["AsOnDate"] = pd.to_datetime( "2016-03-31", format = "%Y-%m-%d" )
dfC12["AsOnDate"] = pd.to_datetime( "2017-03-31", format = "%Y-%m-%d" )
dfC13["AsOnDate"] = pd.to_datetime( "2018-03-31", format = "%Y-%m-%d" )
dfC14["AsOnDate"] = pd.to_datetime( "2019-03-31", format = "%Y-%m-%d" )

dfC15["AsOnDate"] = pd.to_datetime( "2020-03-31", format = "%Y-%m-%d" )
dfC16["AsOnDate"] = pd.to_datetime( "2021-03-31", format = "%Y-%m-%d" )
dfC17["AsOnDate"] = pd.to_datetime( "2022-03-31", format = "%Y-%m-%d" )
dfC18["AsOnDate"] = pd.to_datetime( "2023-03-31", format = "%Y-%m-%d" )
dfC19["AsOnDate"] = pd.to_datetime( "2024-03-31", format = "%Y-%m-%d" )

In [10]:
dfCs = [df.set_index(['Person Code']) for df in [dfC11, dfC12, dfC13, dfC14, dfC15, dfC16, dfC17, dfC18, dfC19]]
mainComm = pd.concat(dfCs, axis=0).reset_index()
mainComm.sort_values(['Company', 'AsOnDate']).reset_index(drop = True)

,Person Code,Symbol,Company,AsOnDate,Director Salutation,Director First Name,Director Middle Name,Director Surname,Committee Name,Position,Date of Joining
0,P00027633,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,STAKEHOLDERS RELATIONSHIP & SHARE TRANSFER COM...,MEMBER,NaN
1,P00027633,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,NOMINATION & REMUNERATION COMMITTEE,MEMBER,NaN
2,P00027633,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,AUDIT COMMITTEE,CHAIRPERSON,NaN
3,P00029006,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,ATIL,CHANDRESH,PARIKH,RISK MANAGEMENT COMMITTEE,MEMBER,NaN
4,P00027661,20MICRONS,20 MICRONS LTD.,2016-03-31,LATE MR.,CHANDRESH,SHANTILAL,PARIKH,CORPORATE SOCIAL RESPONSIBILITY COMMITTEE,CHAIRPERSON,NaN
...,...,...,...,...,...,...,...,...,...,...,...
270877,P00075400,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,MR.,KRISHNA,NaN,KISHORE,NOMINATION & REMUNERATION COMMITTEE,MEMBER,30-SEP-2016
270878,P00075400,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,MR.,KRISHNA,NaN,KISHORE,STAKEHOLDERS RELATIONSHIP COMMITTEE,MEMBER,30-SEP-2016
270879,P00075399,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,MR.,S.,P.,SRIHARI,AUDIT COMMITTEE,MEMBER,NaN
270880,P00075399,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,MR.,S.,P.,SRIHARI,NOMINATION & REMUNERATION COMMITTEE,MEMBER,NaN
270881,P00075399,ZYLOG,ZYLOG SYSTEMS LTD.,2018-03-31,MR.,S.,P.,SRIHARI,STAKEHOLDERS RELATIONSHIP COMMITTEE,MEMBER,NaN

In [11]:
mainComm.to_csv("Main_Committees v020924.csv")