In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("Indian Boards Data as on 31-Mar-2006.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df2 = pd.read_excel("Indian Boards Data as on 31-Mar-2007.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df3 = pd.read_excel("Indian Boards Data as on 31-Mar-2008.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df4 = pd.read_excel("Indian Boards Data as on 31-Mar-2009.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df5 = pd.read_excel("Indian Boards Data as on 31-Mar-2010.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df6 = pd.read_excel("Indian Boards Data as on 31-Mar-2011.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df7 = pd.read_excel("Indian Boards Data as on 31-Mar-2012.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df8 = pd.read_excel("Indian Boards Data as on 31-Mar-2013.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df9 = pd.read_excel("Indian Boards Data as on 31-Mar-2014.xlsx", sheet_name = 'Master Profile', skiprows = 1)

df10 = pd.read_excel("Indian Boards Data as on 31-Mar-2015.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df11 = pd.read_excel("Indian Boards Data as on 31-Mar-2016.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df12 = pd.read_excel("Indian Boards Data as on 31-Mar-2017.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df13 = pd.read_excel("Indian Boards Data as on 31-Mar-2018.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df14 = pd.read_excel("Indian Boards Data as on 31-Mar-2019.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df15 = pd.read_excel("Indian Boards Data as on 31-Mar-2020.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df16 = pd.read_excel("Indian Boards Data as on 31-Mar-2021.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df17 = pd.read_excel("Indian Boards Data as on 31-Mar-2022.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df18 = pd.read_excel("Indian Boards Data as on 31-Mar-2023.xlsx", sheet_name = 'Master Profile', skiprows = 1)
df19 = pd.read_excel("Indian Boards Data as on 31-Mar-2024.xlsx", sheet_name = 'Master Profile', skiprows = 1)

In [3]:
df1.insert(2, 'AsOnDate', '31-03-2006')
df2.insert(2, 'AsOnDate', '31-03-2007')
df3.insert(2, 'AsOnDate', '31-03-2008')
df4.insert(2, 'AsOnDate', '31-03-2009')
df5.insert(2, 'AsOnDate', '31-03-2010')
df6.insert(2, 'AsOnDate', '31-03-2011')
df7.insert(2, 'AsOnDate', '31-03-2012')
df8.insert(2, 'AsOnDate', '31-03-2013')
df9.insert(2, 'AsOnDate', '31-03-2014')

df10.insert(2, 'AsOnDate', '31-03-2015')
df11.insert(2, 'AsOnDate', '31-03-2016')
df12.insert(2, 'AsOnDate', '31-03-2017')
df13.insert(2, 'AsOnDate', '31-03-2018')
df14.insert(2, 'AsOnDate', '31-03-2019')
df15.insert(2, 'AsOnDate', '31-03-2020')
df16.insert(2, 'AsOnDate', '31-03-2021')
df17.insert(2, 'AsOnDate', '31-03-2022')
df18.insert(2, 'AsOnDate', '31-03-2023')
df19.insert(2, 'AsOnDate', '31-03-2024')

In [4]:
dfs = [df.set_index(['Symbol', 'Company', 'AsOnDate']) for df in [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19]]
dff = pd.concat(dfs, axis=0).reset_index()
dff.sort_values(['Company', 'AsOnDate']).reset_index(drop = True)

,Symbol,Company,AsOnDate,Person Code,Director Salutation,Director First Name,Director Middle Name,Director Surname,Date of Birth,Gender,...,Other Directorship 7,Other Directorship 8,Other Directorship 9,Other Directorship 10,Other Directorship 11,Other Directorship 12,Other Directorship 13,Other Directorship 14,Other Directorship 15,Tenure Valid till
0,20MICRONS,20 MICRONS LTD.,31-03-2009,P00027662,MR.,DIPTIMOY,DINESHCHANDRA,BHATTACHARJEE,09-DEC-1955,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20MICRONS,20 MICRONS LTD.,31-03-2009,P00027633,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,08-DEC-1950,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20MICRONS,20 MICRONS LTD.,31-03-2009,P00027664,MR.,MIHIR,ARVIND,JOSHI,12-JUN-1977,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20MICRONS,20 MICRONS LTD.,31-03-2009,P00029006,MR.,ATIL,CHANDRESH,PARIKH,04-SEP-1977,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20MICRONS,20 MICRONS LTD.,31-03-2009,P00027661,LATE MR.,CHANDRESH,SHANTILAL,PARIKH,06-MAR-1946,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446429,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,P00001781,MR.,RAJAGOPAL,NaN,SRINIVASACHARI,10-MAR-1940,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446430,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,P00062851,MR.,K.,S.,SUBRAMANIAN,17-SEP-1943,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446431,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,P00042325,MR.,AYYAVU,PALANICHAMY,VASANTHAKUMAR,12-MAY-1977,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446432,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,P00027523,MR.,SUDHARSHAN,NaN,VENKATRAMAN,28-JUL-1963,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446433,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,P00075398,MR.,S.,NaN,VIMALESHKUMAR,29-SEP-1970,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df11_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2016.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df12_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2017.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df13_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2018.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df14_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2019.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df15_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2020.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df16_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2021.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df17_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2022.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df18_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2023.xlsx", sheet_name = 'Committee Details', skiprows = 1)
df19_1 = pd.read_excel("Indian Boards Data as on 31-Mar-2024.xlsx", sheet_name = 'Committee Details', skiprows = 1)

In [6]:
df11_1.insert(2, 'AsOnDate', '31-03-2016')
df12_1.insert(2, 'AsOnDate', '31-03-2017')
df13_1.insert(2, 'AsOnDate', '31-03-2018')
df14_1.insert(2, 'AsOnDate', '31-03-2019')
df15_1.insert(2, 'AsOnDate', '31-03-2020')
df16_1.insert(2, 'AsOnDate', '31-03-2021')
df17_1.insert(2, 'AsOnDate', '31-03-2022')
df18_1.insert(2, 'AsOnDate', '31-03-2023')
df19_1.insert(2, 'AsOnDate', '31-03-2024')

In [7]:
dfs_1 = [df.set_index(['Person Code']) for df in [df11_1, df12_1, df13_1, df14_1, df15_1, df16_1, df17_1, df18_1, df19_1]]
dfg = pd.concat(dfs_1, axis=0).reset_index()
dfg.sort_values(['Company', 'AsOnDate']).reset_index(drop = True)

,Person Code,Symbol,Company,AsOnDate,Director Salutation,Director First Name,Director Middle Name,Director Surname,Committee Name,Position,Date of Joining
0,P00027633,20MICRONS,20 MICRONS LTD.,31-03-2016,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,STAKEHOLDERS RELATIONSHIP & SHARE TRANSFER COM...,MEMBER,NaN
1,P00027633,20MICRONS,20 MICRONS LTD.,31-03-2016,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,NOMINATION & REMUNERATION COMMITTEE,MEMBER,NaN
2,P00027633,20MICRONS,20 MICRONS LTD.,31-03-2016,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,AUDIT COMMITTEE,CHAIRPERSON,NaN
3,P00029006,20MICRONS,20 MICRONS LTD.,31-03-2016,MR.,ATIL,CHANDRESH,PARIKH,RISK MANAGEMENT COMMITTEE,MEMBER,NaN
4,P00027661,20MICRONS,20 MICRONS LTD.,31-03-2016,LATE MR.,CHANDRESH,SHANTILAL,PARIKH,CORPORATE SOCIAL RESPONSIBILITY COMMITTEE,CHAIRPERSON,NaN
...,...,...,...,...,...,...,...,...,...,...,...
270877,P00075400,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,MR.,KRISHNA,NaN,KISHORE,NOMINATION & REMUNERATION COMMITTEE,MEMBER,30-SEP-2016
270878,P00075400,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,MR.,KRISHNA,NaN,KISHORE,STAKEHOLDERS RELATIONSHIP COMMITTEE,MEMBER,30-SEP-2016
270879,P00075399,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,MR.,S.,P.,SRIHARI,AUDIT COMMITTEE,MEMBER,NaN
270880,P00075399,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,MR.,S.,P.,SRIHARI,NOMINATION & REMUNERATION COMMITTEE,MEMBER,NaN
270881,P00075399,ZYLOG,ZYLOG SYSTEMS LTD.,31-03-2018,MR.,S.,P.,SRIHARI,STAKEHOLDERS RELATIONSHIP COMMITTEE,MEMBER,NaN

In [8]:
dfd = pd.read_excel('Dirlevel_with CAR and briefs_from 2013_81917.xlsx')
dfd

,ResultId,mRowId,YearRowId,SourceSheet,AsOnDate,ProfileRowId,Symbol,ISIN,FirmDirectorMatch,Company,...,CARFF_180_7,CARFF_150_7,CARFF_250_11,CARFF_210_11,CARFF_180_11,CARFF_150_11,CARFF_250_21,CARFF_210_21,CARFF_180_21,CARFF_150_21
0,44508,135668,2020000000000,MasterProfile_20150331,2015-03-31,6731,GENUSPOWER,INE955D01029,305,genus power infrastructures ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44522,114189,2010000000000,MasterProfile_20140331,2014-03-31,6350,GLAXO,INE159A01016,305,glaxosmithkline pharmaceuticals ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,44523,135917,2020000000000,MasterProfile_20150331,2015-03-31,6980,GLAXO,INE159A01016,305,glaxosmithkline pharmaceuticals ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44533,107344,2010000000000,MasterProfile_20130331,2013-03-31,19375,VSTIND,INE710A01016,602,vst industries ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,44572,138076,2020000000000,MasterProfile_20150331,2015-03-31,9139,IL&FSTRANS,INE975G01012,7721,il&fs transportation networks ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81911,44395,282275,2020000000000,MasterProfile_20200331,2020-03-31,21067,PANAMAPET,INE305C01029,2325,panama petrochem ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81912,44410,269628,2020000000000,MasterProfile_20200331,2020-03-31,8420,FCSSOFT,INE512B01022,2325,fcs software solutions ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81913,44415,272330,2020000000000,MasterProfile_20200331,2020-03-31,11122,HDFCLIFE,INE795G01014,5011,hdfc life insurance co.ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81914,44420,269092,2020000000000,MasterProfile_20200331,2020-03-31,7884,EMKAYTOOLS,INE332S01011,5011,emkay taps & cutting tools ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81915,44446,265879,2020000000000,MasterProfile_20200331,2020-03-31,4671,BSL,INE594B01012,5011,bsl ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
dff['AsOnDate'] = pd.to_datetime(dff['AsOnDate'], dayfirst = True)
dfg['AsOnDate'] = pd.to_datetime(dfg['AsOnDate'], dayfirst = True)
dfd['AsOnDate'] = pd.to_datetime(dfd['AsOnDate'], dayfirst = True)

dff['Date of Birth'] = pd.to_datetime(dff['Date of Birth'], yearfirst = True)
dfd['Date of Birth'] = pd.to_datetime(dfd['Date of Birth'], yearfirst = True)

dff['Appointment Date'] = pd.to_datetime(dff['Appointment Date'], yearfirst = True)
dfd['Appointment Date'] = pd.to_datetime(dfd['Appointment Date'], yearfirst = True)

In [13]:
dfd['Cessation Reason'] = dfd['Cessation Reason'].astype(str)
dff['Cessation Reason'] = dff['Cessation Reason'].astype(str)

dfd['Other Directorship 14'] = dfd['Other Directorship 14'].astype(str)
dff['Other Directorship 14'] = dff['Other Directorship 14'].astype(str)

dfd['Other Directorship 15'] = dfd['Other Directorship 15'].astype(str)
dff['Other Directorship 15'] = dff['Other Directorship 15'].astype(str)

In [14]:
dfd.drop('Person Code', axis = 1)
dfd

,ResultId,mRowId,YearRowId,SourceSheet,AsOnDate,ProfileRowId,Symbol,ISIN,FirmDirectorMatch,Company,...,CARFF_180_7,CARFF_150_7,CARFF_250_11,CARFF_210_11,CARFF_180_11,CARFF_150_11,CARFF_250_21,CARFF_210_21,CARFF_180_21,CARFF_150_21
0,44508,135668,2020000000000,MasterProfile_20150331,2015-03-31,6731,GENUSPOWER,INE955D01029,305,genus power infrastructures ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44522,114189,2010000000000,MasterProfile_20140331,2014-03-31,6350,GLAXO,INE159A01016,305,glaxosmithkline pharmaceuticals ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,44523,135917,2020000000000,MasterProfile_20150331,2015-03-31,6980,GLAXO,INE159A01016,305,glaxosmithkline pharmaceuticals ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44533,107344,2010000000000,MasterProfile_20130331,2013-03-31,19375,VSTIND,INE710A01016,602,vst industries ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,44572,138076,2020000000000,MasterProfile_20150331,2015-03-31,9139,IL&FSTRANS,INE975G01012,7721,il&fs transportation networks ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81911,44395,282275,2020000000000,MasterProfile_20200331,2020-03-31,21067,PANAMAPET,INE305C01029,2325,panama petrochem ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81912,44410,269628,2020000000000,MasterProfile_20200331,2020-03-31,8420,FCSSOFT,INE512B01022,2325,fcs software solutions ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81913,44415,272330,2020000000000,MasterProfile_20200331,2020-03-31,11122,HDFCLIFE,INE795G01014,5011,hdfc life insurance co.ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81914,44420,269092,2020000000000,MasterProfile_20200331,2020-03-31,7884,EMKAYTOOLS,INE332S01011,5011,emkay taps & cutting tools ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81915,44446,265879,2020000000000,MasterProfile_20200331,2020-03-31,4671,BSL,INE594B01012,5011,bsl ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dff2 = dff.merge( dfd, on = ['AsOnDate', 'Director First Name', 'Director Middle Name', 'Director Surname', 'Symbol'], how = 'outer' )
dff2

,Symbol,Company_x,AsOnDate,Person Code_x,Director Salutation_x,Director First Name,Director Middle Name,Director Surname,Date of Birth_x,Gender_x,...,CARFF_180_7,CARFF_150_7,CARFF_250_11,CARFF_210_11,CARFF_180_11,CARFF_150_11,CARFF_250_21,CARFF_210_21,CARFF_180_21,CARFF_150_21
0,3MINDIA,3M INDIA LTD.,2006-03-31,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,1960-05-14,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3MINDIA,3M INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3MINDIA,3M INDIA LTD.,2006-03-31,P00033331,MR.,BALASUBRAMANIAM,SOMASKANDAN,IYER,1949-10-13,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,P00022755,LATE MR.,SHAHRUKH,MINOCHER,CONTRACTOR,1931-03-19,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,P00012704,MR.,ATUL,SHANTIKUMAR,DAYAL,1948-09-21,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453887,SIKKO,NaN,2020-03-31,NaN,NaN,PRAVIN,M.,KUMBHANI,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453888,VISAKAIND,NaN,2020-03-31,NaN,NaN,GUSTI,J.,NORIA,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453889,DAAWAT,NaN,2020-03-31,NaN,NaN,SURINDER,KUMAR,ARORA,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453890,GATI,NaN,2020-03-31,NaN,NaN,SRINIVASAN,NaN,NATESAN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453891,SELMCL,NaN,2020-03-31,NaN,NaN,DHIRAJ,NaN,SALUJA,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
dff2.set_index(keys = ['Person Code_x', 'Symbol', 'AsOnDate'])

                                                Company_x  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31          3M INDIA LTD.
P00000249     3MINDIA   2006-03-31          3M INDIA LTD.
P00033331     3MINDIA   2006-03-31          3M INDIA LTD.
P00022755     3PLAND    2006-03-31  3P LAND HOLDINGS LTD.
P00012704     3PLAND    2006-03-31  3P LAND HOLDINGS LTD.
...                                                   ...
NaN           SIKKO     2020-03-31                    NaN
              VISAKAIND 2020-03-31                    NaN
              DAAWAT    2020-03-31                    NaN
              GATI      2020-03-31                    NaN
              SELMCL    2020-03-31                    NaN

                                   Director Salutation_x Director First Name  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31                   MR.    SHANKARANARAYANA
P00000249     3MINDIA   2006-03-31              LATE MR.          BALAJI RAO
P00033331     3MINDIA   2006-03-31                   MR.     BALASUBRAMANIAM
P00022755     3PLAND    2006-03-31              LATE MR.            SHAHRUKH
P00012704     3PLAND    2006-03-31                   MR.                ATUL
...                                                  ...                 ...
NaN           SIKKO     2020-03-31                   NaN              PRAVIN
              VISAKAIND 2020-03-31                   NaN               GUSTI
              DAAWAT    2020-03-31                   NaN            SURINDER
              GATI      2020-03-31                   NaN          SRINIVASAN
              SELMCL    2020-03-31                   NaN              DHIRAJ

                                   Director Middle Name Director Surname  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31      VISHWANATHA RAO         BANAWARA
P00000249     3MINDIA   2006-03-31        JAGANNATH RAO          DOVETON
P00033331     3MINDIA   2006-03-31          SOMASKANDAN             IYER
P00022755     3PLAND    2006-03-31             MINOCHER       CONTRACTOR
P00012704     3PLAND    2006-03-31          SHANTIKUMAR            DAYAL
...                                                 ...              ...
NaN           SIKKO     2020-03-31                   M.         KUMBHANI
              VISAKAIND 2020-03-31                   J.            NORIA
              DAAWAT    2020-03-31                KUMAR            ARORA
              GATI      2020-03-31                  NaN          NATESAN
              SELMCL    2020-03-31                  NaN           SALUJA

                                   Date of Birth_x Gender_x Nationality_x  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31      1960-05-14        M         INDIA
P00000249     3MINDIA   2006-03-31      1939-12-15        M         INDIA
P00033331     3MINDIA   2006-03-31      1949-10-13        M         INDIA
P00022755     3PLAND    2006-03-31      1931-03-19        M           NaN
P00012704     3PLAND    2006-03-31      1948-09-21        M         INDIA
...                                            ...      ...           ...
NaN           SIKKO     2020-03-31             NaT      NaN           NaN
              VISAKAIND 2020-03-31             NaT      NaN           NaN
              DAAWAT    2020-03-31             NaT      NaN           NaN
              GATI      2020-03-31             NaT      NaN           NaN
              SELMCL    2020-03-31             NaT      NaN           NaN

                                   Appointment Date_x  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31         2002-07-24
P00000249     3MINDIA   2006-03-31         2001-12-26
P00033331     3MINDIA   2006-03-31         2001-12-26
P00022755     3PLAND    2006-03-31         1990-12-31
P00012704     3PLAND    2006-03-31         1990-12-10
...                                               ...
NaN           SIKKO     2020-03-31                NaT
              VISAKAIND 2020-03-31                NaT
              DAAWAT    2020-03-31                NaT
              GATI      2020-03-31                NaT
              SELMCL    2020-03-31                NaT

                                   Member of Civil Services_x  ...  \
Person Code_x Symbol    AsOnDate                               ...
P00033272     3MINDIA   2006-03-31                       NONE  ...
P00000249     3MINDIA   2006-03-31                       NONE  ...
P00033331     3MINDIA   2006-03-31                       NONE  ...
P00022755     3PLAND    2006-03-31                        NaN  ...
P00012704     3PLAND    2006-03-31                       NONE  ...
...                                                       ...  ...
NaN           SIKKO     2020-03-31                        NaN  ...
              VISAKAIND 2020-03-31                        NaN  ...
              DAAWAT    2020-03-31                        NaN  ...
              GATI      2020-03-31                        NaN  ...
              SELMCL    2020-03-31                        NaN  ...

                                   CARFF_180_7 CARFF_150_7 CARFF_250_11  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31         NaN         NaN          NaN
P00000249     3MINDIA   2006-03-31         NaN         NaN          NaN
P00033331     3MINDIA   2006-03-31         NaN         NaN          NaN
P00022755     3PLAND    2006-03-31         NaN         NaN          NaN
P00012704     3PLAND    2006-03-31         NaN         NaN          NaN
...                                        ...         ...          ...
NaN           SIKKO     2020-03-31         NaN         NaN          NaN
              VISAKAIND 2020-03-31         NaN         NaN          NaN
              DAAWAT    2020-03-31         NaN         NaN          NaN
              GATI      2020-03-31         NaN         NaN          NaN
              SELMCL    2020-03-31         NaN         NaN          NaN

                                   CARFF_210_11 CARFF_180_11 CARFF_150_11  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31          NaN          NaN          NaN
P00000249     3MINDIA   2006-03-31          NaN          NaN          NaN
P00033331     3MINDIA   2006-03-31          NaN          NaN          NaN
P00022755     3PLAND    2006-03-31          NaN          NaN          NaN
P00012704     3PLAND    2006-03-31          NaN          NaN          NaN
...                                         ...          ...          ...
NaN           SIKKO     2020-03-31          NaN          NaN          NaN
              VISAKAIND 2020-03-31          NaN          NaN          NaN
              DAAWAT    2020-03-31          NaN          NaN          NaN
              GATI      2020-03-31          NaN          NaN          NaN
              SELMCL    2020-03-31          NaN          NaN          NaN

                                   CARFF_250_21 CARFF_210_21 CARFF_180_21  \
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31          NaN          NaN          NaN
P00000249     3MINDIA   2006-03-31          NaN          NaN          NaN
P00033331     3MINDIA   2006-03-31          NaN          NaN          NaN
P00022755     3PLAND    2006-03-31          NaN          NaN          NaN
P00012704     3PLAND    2006-03-31          NaN          NaN          NaN
...                                         ...          ...          ...
NaN           SIKKO     2020-03-31          NaN          NaN          NaN
              VISAKAIND 2020-03-31          NaN          NaN          NaN
              DAAWAT    2020-03-31          NaN          NaN          NaN
              GATI      2020-03-31          NaN          NaN          NaN
              SELMCL    2020-03-31          NaN          NaN          NaN

                                   CARFF_150_21
Person Code_x Symbol    AsOnDate
P00033272     3MINDIA   2006-03-31          NaN
P00000249     3MINDIA   2006-03-31          NaN
P00033331     3MINDIA   2006-03-31          NaN
P00022755     3PLAND    2006-03-31          NaN
P00012704     3PLAND    2006-03-31          NaN
...                                         ...
NaN           SIKKO     2020-03-31          NaN
              VISAKAIND 2020-03-31          NaN
              DAAWAT    2020-03-31          NaN
              GATI      2020-03-31          NaN
              SELMCL    2020-03-31          NaN

[453892 rows x 272 columns]

In [18]:
dfg

,Person Code,Symbol,Company,AsOnDate,Director Salutation,Director First Name,Director Middle Name,Director Surname,Committee Name,Position,Date of Joining
0,P00027633,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,STAKEHOLDERS RELATIONSHIP & SHARE TRANSFER COM...,MEMBER,NaN
1,P00027633,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,NOMINATION & REMUNERATION COMMITTEE,MEMBER,NaN
2,P00027633,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,RAMKISHAN,AMIRCHAND,DEVIDAYAL,AUDIT COMMITTEE,CHAIRPERSON,NaN
3,P00029006,20MICRONS,20 MICRONS LTD.,2016-03-31,MR.,ATIL,CHANDRESH,PARIKH,RISK MANAGEMENT COMMITTEE,MEMBER,NaN
4,P00027661,20MICRONS,20 MICRONS LTD.,2016-03-31,LATE MR.,CHANDRESH,SHANTILAL,PARIKH,CORPORATE SOCIAL RESPONSIBILITY COMMITTEE,CHAIRPERSON,NaN
...,...,...,...,...,...,...,...,...,...,...,...
270877,P00013240,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,DR.(MR.),SHARVIL,PANKAJ,PATEL,SHARE TRANSFER COMMITTEE,CHAIRPERSON,NaN
270878,P00013240,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,DR.(MR.),SHARVIL,PANKAJ,PATEL,RISK MANAGEMENT COMMITTEE,CHAIRPERSON,24-MAY-2018
270879,P00013240,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,DR.(MR.),SHARVIL,PANKAJ,PATEL,FINANCE & ADMINISTRATIVE COMMITTEE,CHAIRPERSON,NaN
270880,P00053258,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,MS.,DHARMISHTA,NARENDRAPRASAD,RAVAL,NOMINATION & REMUNERATION COMMITTEE,MEMBER,04-AUG-2023
270881,P00053258,ZYDUSWELL,ZYDUS WELLNESS LTD.,2024-03-31,MS.,DHARMISHTA,NARENDRAPRASAD,RAVAL,AUDIT COMMITTEE,CHAIRPERSON,01-MAY-2019

In [19]:
dfg.drop( columns = ['Company', 'Director Salutation', 'Director First Name', 'Director Middle Name', 'Director Surname'], axis = 1, inplace = True)

In [20]:
dfg.set_index(keys = ['Person Code', 'Symbol', 'AsOnDate'])

                                                                     Committee Name  \
Person Code Symbol    AsOnDate
P00027633   20MICRONS 2016-03-31  STAKEHOLDERS RELATIONSHIP & SHARE TRANSFER COM...
                      2016-03-31                NOMINATION & REMUNERATION COMMITTEE
                      2016-03-31                                    AUDIT COMMITTEE
P00029006   20MICRONS 2016-03-31                          RISK MANAGEMENT COMMITTEE
P00027661   20MICRONS 2016-03-31          CORPORATE SOCIAL RESPONSIBILITY COMMITTEE
...                                                                             ...
P00013240   ZYDUSWELL 2024-03-31                           SHARE TRANSFER COMMITTEE
                      2024-03-31                          RISK MANAGEMENT COMMITTEE
                      2024-03-31                 FINANCE & ADMINISTRATIVE COMMITTEE
P00053258   ZYDUSWELL 2024-03-31                NOMINATION & REMUNERATION COMMITTEE
                      2024-03-31                                    AUDIT COMMITTEE

                                     Position Date of Joining
Person Code Symbol    AsOnDate
P00027633   20MICRONS 2016-03-31       MEMBER             NaN
                      2016-03-31       MEMBER             NaN
                      2016-03-31  CHAIRPERSON             NaN
P00029006   20MICRONS 2016-03-31       MEMBER             NaN
P00027661   20MICRONS 2016-03-31  CHAIRPERSON             NaN
...                                       ...             ...
P00013240   ZYDUSWELL 2024-03-31  CHAIRPERSON             NaN
                      2024-03-31  CHAIRPERSON     24-MAY-2018
                      2024-03-31  CHAIRPERSON             NaN
P00053258   ZYDUSWELL 2024-03-31       MEMBER     04-AUG-2023
                      2024-03-31  CHAIRPERSON     01-MAY-2019

[270882 rows x 3 columns]

In [21]:
dff3 = dff2.merge(dfg, left_on = ['Person Code_x', 'Symbol', 'AsOnDate'], right_on = ['Person Code', 'Symbol', 'AsOnDate'], how = 'outer')

In [22]:
dff3

,Symbol,Company_x,AsOnDate,Person Code_x,Director Salutation_x,Director First Name,Director Middle Name,Director Surname,Date of Birth_x,Gender_x,...,CARFF_180_11,CARFF_150_11,CARFF_250_21,CARFF_210_21,CARFF_180_21,CARFF_150_21,Person Code,Committee Name,Position,Date of Joining
0,3MINDIA,3M INDIA LTD.,2006-03-31,P00033272,MR.,SHANKARANARAYANA,VISHWANATHA RAO,BANAWARA,1960-05-14,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3MINDIA,3M INDIA LTD.,2006-03-31,P00000249,LATE MR.,BALAJI RAO,JAGANNATH RAO,DOVETON,1939-12-15,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3MINDIA,3M INDIA LTD.,2006-03-31,P00033331,MR.,BALASUBRAMANIAM,SOMASKANDAN,IYER,1949-10-13,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,P00022755,LATE MR.,SHAHRUKH,MINOCHER,CONTRACTOR,1931-03-19,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3PLAND,3P LAND HOLDINGS LTD.,2006-03-31,P00012704,MR.,ATUL,SHANTIKUMAR,DAYAL,1948-09-21,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627914,KANORICHEM,NaN,2020-03-31,NaN,NaN,ARUNACHALAM,NaN,VELLAYAN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627915,NITINSPIN,NaN,2020-03-31,NaN,NaN,NITIN,NaN,NOLKHA,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627916,ANDHRSUGAR,NaN,2020-03-31,NaN,NaN,P.S.R.V.K.,RANGA,RAO,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627917,ENDURANCE,NaN,2020-03-31,NaN,NaN,ANURANG,NaN,JAIN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627918,VISAKAIND,NaN,2020-03-31,NaN,NaN,GUSTI,J.,NORIA,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
dff3.to_csv("Main.csv")